# Github credentials (for accessing the API)
user = 'USERNAME HERE'
password = 'PASSWORD HERE'

FREEZER_DESTINATION = 'out'
FREEZER_REMOVE_EXTRA_FILES = False

DEBUG = False
TESTING = True

SHOW_TECHNICAL_ISSUES_BANNER = True
