Jinja2==2.8
matplotlib==1.5.1
requests==2.9.1
Frozen-Flask==0.12
unicodecsv==0.14.1
lxml==3.5.0
pytz==2016.1

# These are dependencies of the above, but are specificied explicitly in order to pin versions
Flask==0.10.1
MarkupSafe==0.23
Werkzeug==0.11.4
argparse==1.4.0
itsdangerous==0.24
mock==1.3.0
nose==1.3.7
numpy==1.10.4
pyparsing==2.1.0
python-dateutil==2.5.0
six==1.10.0
wsgiref==0.1.2

