# At time of writing Django 5.2 is the most recent LTS
django<5.3
django-environ
django-extensions
djangorestframework
django-filter
psycopg
gunicorn
jinja2
python-dateutil
pytz
matplotlib
xmlschema
lxml
requests
tqdm
whitenoise
sentry-sdk[django]
azure-servicebus
