# At time of writing Django 5.2 is the most recent LTS
django<5.3
django-environ
django-extensions
djangorestframework
drf-spectacular
django-filter
django-hosts
psycopg
gunicorn
jinja2
python-dateutil
pytz
matplotlib
# 4.2.0 has some breaking changes
xmlschema<4.2
lxml
requests
tqdm
whitenoise
sentry-sdk[django]
azure-servicebus
