{% macro box(title, number, image, json, legend, folderextra, description) %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {% set title_id = title.replace(' ', '-').lower() %}
              <span id="{{ title_id }}" class="title-number">{% if number is number %}{{ "{:,}".format(number) }}{% else %}{{ number }}{% endif %}</span>
              <span class="title-text">{{ title }}</span>
            </h3>
            {% if json %}
              {% if folderextra %}
                <a href="{{ stats_url }}/gitaggregate{{ folderextra }}-dated/{{ json }}" style="float:right">(J)</a>
              {% else %}
                <a href="{{ stats_url }}/gitaggregate-dated/{{ json }}" style="float:right">(J)</a>
              {% endif %}
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            {% if description %}
              <p>{{ description|safe }}</p>
            {% endif %}
            <img src="{{ static(image) }}" width="100%" />
            {% if legend %}
            <img src="{{ static(legend) }}" width="100%" />
            {% endif %}
          </div>
        </div>
      </div>
{% endmacro %}
