{% extends 'base.html' %}

{% block content %}

    <div class="row">
      <div class="col-xs-12">
<h2>Who runs the IATI Dashboard?</h2>
<p>The IATI Dashboard and Publishing Statistics are maintained by the technical team of the IATI Secretariat and includes components developed by <a href="https://codeforiati.org/">Code for IATI</a> volunteers. The IATI Dashboard grew out of various projects to track and provide metrics for how IATI data is published and how the IATI Standard is used in practice.</p>

<h2>When is the Dashboard updated?</h2>
<p>The Dashboard and Publishing Statistics are generated through a daily process that happens each night.</p>
<p>This is a two step process:</p>
<ol>
<li>First the data that is linked to from the IATI Registry is downloaded — see the “data downloaded” timestamp in the footer of each page.</li>
<li>From this dataset, the relevant statistics are calculated, and this site is then updated — see the “generated” timestamp in footer.</li>
</ol>
<p>The generation process usually completes within 12 hours.</p>

<h2>Why is there a difference between the data download and Dashboard generation time?</h2>
<p>The data is downloaded, and then there is a period of computing time to generate the statistics that inform the Dashboard and Publishing Statistics.</p>
<p>Usually, there is a short period of time between the two. However, we do track this as sometimes things break and the site may fail to regenerate. If you spot something, please also let us know via <a href="mailto:support@iatistandard.org">support@iatistandard.org</a>.</p>

<h2>Does a graph going up or down mean something good?</h2>
<p>No. There may be a number of reasons why a certain graph or number rises or falls.</p>
<p>In some cases, a fall in the graph may well be down to the fact that the Dashboard script failed to download the relevant data.  This could be due to any number of reasons — and not necessarily anything to do with the setup of the IATI publisher.</p>
<p>Therefore, we stress to treat the graphs, numbers and statistics on this site with <strong>caution, context and consideration</strong>.</p>
<p>Should you think something is really wrong, please contact us via <a href="mailto:support@iatistandard.org">support@iatistandard.org</a>.</p>

<h2>What do the Publishing Statistics numbers mean?</h2>
<p>Different tables capture how timely, forward looking and comprehensive a publisher’s IATI data is.  A summary of this information is displayed on the <a href="http://publishingstats.iatistandard.org">Summary Statistics</a> page, where each quality is marked out of 100.</p>
<p>The other tabs outline how this mark is calculated and the different assessments included.</p>
<p>In some cases, a low number may well be down to the fact that the Dashboard script failed to download the relevant data or the methodology for an element within IATI may need amending. This could be due to any number of reasons - and not necessarily anything to do with the setup of the IATI publisher.</p>
<p>Only the timeliness tables track an organisation’s publishing over time. If the Publishing Statistics doesn’t pick up your data one month we are unable to back fill the table.</p>
<p>Therefore, we stress to treat the tables and their corresponding marks with <strong>caution, context and consideration</strong>.</p>
<p>Should you think something is really wrong, please contact us via <a href="mailto:support@iatistandard.org">support@iatistandard.org</a>.</p>

<h2>Can I build my own version of this Dashboard?</h2>
<p>Yes — the source code is all open source:</p>
<ol>
<li><a href="https://github.com/IATI/IATI-Dashboard/">https://github.com/IATI/IATI-Dashboard/</a>.</li>
</ol>
<p>We advise you to check through the technical specifications.</p>

<h2>How can I suggest a new function?</h2>
<p>Ideally, we’d suggest to check through <a href="https://github.com/IATI/IATI-Dashboard/issues?state=open">the list of issues we have logged in our Github repositories</a>.</p>
<p>Alternatively, please email us via <a href="mailto:support@iatistandard.org">support@iatistandard.org</a></p>

<h2>We’ve published/updated our IATI data, but the numbers haven’t updated.</h2>
<p>We’d suggest two initial checks:</p>

<ol>
<li>Is the data registered on the IATI Registry?</li>
<li>Has this site updated since you published (check the timestamps in the footer of this page)?</li>
</ol>

<p>Should you still believe that data is missing, we’d love to hear from you — please email us at <a href="mailto:support@iatistandard.org">support@iatistandard.org</a>.</p>


<h2>I want to get to the raw data of a publisher — how can I do that?</h2>
<p>Two ways:</p>
<ol>
<li>Visit the IATI Registry and access the relevant links to the XML files — these links are often found on the relevant Dashboard page.</li>
<li>Try a query via the <a href="http://datastore.iatistandard.org">IATI Datastore</a></li>
</ol>
</div>
</div>

{% endblock %}
