{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block page_header %}
<h1>{{ license_names[license] }}{% if license_urls[license]['url'] %} <a href="{{ license_urls[license]['url'] }}">(source)</a>{% endif %}</h1>
<p class="lead">
    License ID: <code>{{ license }}</code>
</p>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Publisher</th>
                    <th>Files</th>
                </tr>
            </thead>
            <tbody>
                {% for publisher, files in publisher_counts %}
                <tr>
                    <td><a href="{{ url_for('publisher', publisher=publisher) }}">{{ publisher }}</a></td>
                    <td>{{ files }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
