{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}

{% block container %}

    {% block page_header_div %}
        {{ super() }}
    {% endblock %}

    <ul class="nav nav-tabs" role="tablist">
      <li{% block frequency_li %}{% endblock %}><a href="{{ url_for('basic_page', page_name='timeliness') }}">Frequency</a></li>
      <li{% block timelag_li %}{% endblock %}><a href="{{ url_for('basic_page', page_name='timeliness_timelag') }}">Time lag</a></li>
    </ul>

    <ul class="list-inline" style="padding: 1em">
        <li><a href="#h_table">Table</a></li>
        <li>|</li>
        <li><a href="#h_summary">Summary of Publisher Performance</a></li>
        <li>|</li>
        <li><a href="#h_narrative">Narrative</a></li>
        <li>|</li>
        <li><a href="#h_assesment">Assessment</a></li>
        <li>|</li>
        <li><a href="#h_exceptions">Exceptions</a></li>
        <li>|</li>
        <li><a href="#h_comparison">Comparison with original Global Partnership Indicator methodology</a></li>
        <li>|</li>
        <li><a href="#h_pseudocode">Pseudocode</a></li>
    </ul>

    {% block content %}
    {% endblock %}
{% endblock %}

{% block tablesortertarget %}table#main_table{% endblock %}
