{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title"></h3></div>
          <div class="panel-body">
            <p>This is a work in progress development copy.</p>
              <ul>
              {% for publisher_title, publisher in publishers_ordered_by_title %}
                <li><a href="{{ url('dash-ati-publisher-detail', args=[publisher]) }}">{{ publisher_name[publisher] }}</a></li>
              {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
