{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes with context %}

{% block page_header %}
<h1>Publisher: {{ publisher.human_readable_name }}</h1>
<h2>Codelist values used for <code class="iati-code">{{ element }}</code></h2>
<p class="dashboard-page-heading__lead">(for files published to version {{ major_version }}.xx of the standard)</p>
<p style="float:right">(<a href="{{ stats_url }}/current/aggregated-publisher/{{ publisher.short_name }}/codelist_values.json">This page in JSON format</a>)</p>
<p>Values should be on the <code class="iati-code"><a href="{% if major_version=='2' %}https://iatistandard.org/codelists/{% else %}https://iatistandard.org/105/codelists/{% endif %}{{ codelist_mapping[major_version].get(element) }}/">{{ codelist_mapping[major_version].get(element) }}</a></code> codelist.</p>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <p>
        {% with elements=reverse_codelist_mapping[major_version][codelist_mapping[element]] %}
        {% if elements|count > 1 %}
        Other elements/attributes on this codelist:
        <ul>
        {% for el in elements %}
        {% if el in current_stats.inverted_publisher.codelist_values[major_version].keys() %}
        {% if el!=element %}<li><a href="{{ slugs.codelist[major_version].by_i[current_stats.inverted_publisher.codelist_values[major_version].keys().index(el)] }}.html">{{ el }}</a></li>{% endif %}
        {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading">
              <h2 class="dashboard-panel-heading__title">On Codelist</h2>
          </div>
          <div class="dashboard-panel-body">
            <p>Codes that are on the <code class="iati-code">{{ codelist_mapping[major_version].get(element) }}</code> codelist.</p>
            <div class="iati-table">
              <table class="table iati-table__table">
                <thead><tr><th>Value</th><th>Name</th><th>Occurences</th></tr></thead>
                <tbody>
                  {% for value, occurences in values.items() %}
                      {% if value in codelist_sets[major_version].get(codelist_mapping[major_version].get(element)) %}
                      <tr>
                        <td>{{ value }}</td>
                        <td>{{ codelist_lookup[major_version].get(codelist_mapping[major_version].get(element))[value]['name'] }}</td>
                        <td>{{ occurences }}</td>
                      </tr>
                      {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading">
            <h2 class="dashboard-panel-heading__title">Not On Codelist</h2>
          </div>
          <div class="dashboard-panel-body">
            <p>Codes that are not on the <code class="iati-code">{{ codelist_mapping[major_version].get(element) }}</code> codelist.</p>
            <div class="iati-table">
              <table class="table iati-table__table">
                <thead><tr><th>Value</th><th>Occurences</th></tr></thead>
                <tbody>
                  {% for value, occurences in values.items() %}
                      {% if not value in codelist_sets[major_version].get(codelist_mapping[major_version].get(element)) %}
                      <tr>
                        <td>{{ value }}</td>
                        <td>{{ occurences }}</td>
                      </tr>
                      {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extrafooter %}
    <script>
$('.popover-html').popover({
  html: true
})
    </script>
{% endblock %}
