{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes with context %}
{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading clearfix">
            <h2 class="dashboard-panel-heading__title float-start">List of files that fail to download</h2>
          </div>
          <div class="dashboard-panel-body">
        <p><a href="https://gist.github.com/codeforIATIbot/f117c9be138aa94c9762d57affc51a64/revisions">History of Download Errors</a></p>

              {% include '_partials/tablesorter_instructions.html' %}
            <div class="iati-table">
              <table class="table iati-table__table">
                <thead>
                  <tr>
                    <th>Reporting Org</th>
                    <th>Dataset</th>
                    <th style="max-width: 400px; overflow: clip;">URL</th>
                    <th>Error Type</th>
                    <th>HTTP Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for dataset in datasets_with_errors %}
                  <tr>
                    <td><a href="{{ url('dash-headlines-publisher-detail', args=[dataset.reporting_org.short_name]) }}">{{ dataset.reporting_org.human_readable_name }}</a></td>
                    <td>{{ dataset.short_name }}</td>
                    <td style="max-width: 400px; overflow: clip;"><a href="{{ dataset.source_url }}">{{ dataset.source_url|url_to_filename }}</a></td>
                    <td>{{ dataset.error_type }}</td>
                    <td>{{ dataset.http_status }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
