{% extends 'base.html' %}

{% block content %}

    <div class="row">
      <div class="col-xs-12">
<h2>Who runs the IATI Dashboard?</h2>
<p>The IATI Dashboard and Publishing Statistics are maintained by the IATI Secretariat and includes components developed by <a href="https://codeforiati.org/">Code for IATI</a> volunteers. The IATI Dashboard tracks and provide metrics about how IATI data is published and how the IATI Standard is used in practice.</p>

<h2>When is the Dashboard updated?</h2>
<p>The Dashboard and Publishing Statistics are generated through a process that happens once every 24 hours.</p>
<p>This is a two step process:</p>
<ol>
<li>First, all registered data is downloaded — see the “data downloaded” timestamp in the footer of each page.</li>
<li>From this dataset, the relevant statistics are calculated, and this site is then updated — see the “generated” timestamp in footer.</li>
</ol>
<p>The process usually completes within 12 hours.</p>

<h2>Why is there a difference between the data download and Dashboard generation time?</h2>
<p>The data is downloaded, and then there is a period of computing time to generate the statistics that inform the Dashboard and Publishing Statistics.</p>
<p>Usually, there is a short period of time between the two. However, we do track this as sometimes things break and the site may fail to regenerate. If you spot something, please <a href="https://iatistandard.org/en/guidance/get-support/">contact us</a> to let us know.</p>

<h2>What do the Publishing Statistics numbers mean?</h2>
<p>The tables show how timely, forward looking and comprehensive a publisher's IATI data is.  A summary of this information is displayed on the <a href="https://publishingstats.iatistandard.org">Summary Statistics</a> page.</p>
<p>The other tabs outline how this mark is calculated and the different assessments included.</p>
<p>Only the timeliness tables track an organisation's publishing over time. If the Publishing Statistics doesn't pick up your data one month we are unable to back fill the table.</p>

<h2>Can I build my own version of this Dashboard?</h2>
<p>Yes — the source code is all open source:</p>
<ol>
<li><a href="https://github.com/IATI/IATI-Dashboard/">https://github.com/IATI/IATI-Dashboard/</a>.</li>
</ol>

<h2>How can I suggest a new function?</h2>
<p>You can open a <a href="https://github.com/IATI/IATI-Dashboard/issues?state=open">GitHub Issue</a> or <a href="https://iatistandard.org/en/guidance/get-support/">contact us to discuss your suggestion</a>.

<h2>The Dashboard doesn't accurately reflect our data</h2>
<p>There are three checks that you can make:</p>

<ol>
<li>Is the data registered?</li>
<li>Has this site updated since you published (check the timestamps in the footer of this page)?</li>
<li>Is your data freely available for download, without blocking that might affect automated tools such as the IATI Dashboard?</li>
</ol>

<p>If none of these apply or you have other questions, please <a href="https://iatistandard.org/en/guidance/get-support/">contact us</a>.</p>

<h2>I want to get to the data of a publisher — how can I do that?</h2>
<p>Visit the Dashboard page for the publisher. Alternatively, see the <a href="https://iatistandard.org/en/iati-tools-and-resources/">IATI website</a> for details of various tools to access data.</p>

</div>
</div>

{% endblock %}
