{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block page_header %}
<h1>{{ license_names[license] }}{% if license_urls[license]['url'] %} <a href="{{ license_urls[license]['url'] }}">(source)</a>{% endif %}</h1>
<p class="dashboard-page-heading__lead">
    License ID: <code class="iati-code">{{ license }}</code>
</p>
{% endblock %}

{% block content %}

        <div class="iati-table">
          <table class="table iati-table__table">
            <thead>
                <tr>
                    <th>Publisher</th>
                    <th>Datasets</th>
                </tr>
            </thead>
            <tbody>
                {% for publisher, datasets in publisher_counts %}
                <tr>
                    <td><a href="{{ url('dash-headlines-publisher-detail', args=[publisher]) }}">{{ publisher }}</a></td>
                    <td>{{ datasets }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
