{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading">
            <h2 class="dashboard-panel-heading__title">Count of reporting orgs per licence</h2>
          </div>
          <div class="dashboard-panel-body">
            {% include '_partials/tablesorter_instructions.html' %}
            <div class="iati-table">
              <table class="table iati-table__table">
                <thead>
                    <tr>
                        <th>License</th>
                        <th>License ID</th>
                        <th>Datasets</th>
                        <th>Publishers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for license, datasets in func.sorted(license_count.items()) %}
                    <tr>
                        <td>{% if license in license_urls and license_urls[license]['url'] %}<a href="{{ license_urls[license]['url'] }}">{{ license_names.get(license, license) }}</a>{% else %}{{ license_names.get(license, license) }}{% endif %}</td>
                        <td>{{ license }}</td>
                        <td>{{ datasets }}</td>
                        <td><a href="{{ url('dash-licenses-detail', args=[license]) }}">{{ publisher_license_count[license] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
