{% extends 'base.html' %}
{% block content %}
        {% include '_partials/tablesorter_instructions.html' %}
    <div class="iati-table">
      <table class="table iati-table__table">
        <thead>
            <tr>
                <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;" rowspan="2">Org Type</th>
                {% include '_partials/org_id_table_header.html' %}
            </tr>
        </thead>
        <tbody>
            {% for slug in slugs.org_type.by_slug %}
            {% set transaction_stats = current_stats.aggregated[slug + '_transaction_stats'] %}
            <tr>
                <td style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;"><a href="{{ url('dash-exploringdata-orgtypes-detail', args=[slug]) }}" >{{ slug.replace('_org', '') | capitalize }}</a></td>
                {% include '_partials/org_id_table_cells.html' %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
