{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes with context %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="dashboard-panel">
      <div class="dashboard-panel-heading">
        <h2 class="dashboard-panel-heading__title">
          Inconsistent Reporting Org references
        </h2>
      </div>
      <div class="dashboard-panel-body">
        <p>List of reporting orgs where the reporting-org element does not match the reporting-org field in the IATI Registry.</p>
        {% include '_partials/tablesorter_instructions.html' %}
        <div class="iati-table">
          <table class="table iati-table__table">
            <thead>
              <tr>
                <th>Reporting Org</th>
                <th>Org Identifier on Registry</th>
                <th>Org Identifiers in Data (count)</th>
                <th>Org Identifiers in Data</th>
              </tr>
            </thead>
            <tbody>
              {% for publisher_title,publisher in publishers_ordered_by_title %}
              {% set publisher_stats = func.get_publisher_stats(publisher) %}
              {% set reporting_orgs_key = publisher_stats.reporting_orgs.keys()|first %}
              {% if publisher_stats.reporting_orgs|count != 1 or reporting_orgs_key != ckan_publishers[publisher].result.publisher_iati_id %}
              <tr>
                <td><a href="{{ url('dash-headlines-publisher-detail', args=[publisher]) }}">{{ publisher_title }}</a></td>
                <td><code class="iati-code">{{ ckan_publishers[publisher].result.publisher_iati_id }}</code></td>
                <td>{{ publisher_stats.reporting_orgs|length }}</td>
                <td>{% for ro in publisher_stats.reporting_orgs %}<code class="iati-code">{{ ro }}</code> {% endfor %}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

