{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes with context %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="dashboard-panel">
      <div class="dashboard-panel-heading">
        <h2 class="dashboard-panel-heading__title">
          Inconsistent Reporting Org references
        </h2>
      </div>
      <div class="dashboard-panel-body">
        <p>List of reporting orgs where the reporting-org element does not match the reporting-org field provided through registration.</p>
        {% include '_partials/tablesorter_instructions.html' %}
        <div class="iati-table">
          <table class="table iati-table__table">
            <thead>
              <tr>
                <th>Reporting Org</th>
                <th>Org Identifier Registered</th>
                <th>Org Identifiers in Data (count)</th>
                <th>Org Identifiers in Data</th>
              </tr>
            </thead>
            <tbody>
              {% for publisher in publishers %}
              {% set reporting_orgs_key = publisher.reporting_orgs.keys()|first %}
              {% if publisher.reporting_orgs|count != 1 or reporting_orgs_key != publisher.metadata_json["organisation_identifier"] %}
              <tr>
                <td><a href="{{ url('dash-headlines-publisher-detail', args=[publisher.short_name]) }}">{{ publisher.human_readable_name }}</a></td>
                <td><code class="iati-code">{{ publisher.metadata_json["organisation_identifier"] }}</code></td>
                <td>{{ publisher.reporting_orgs|length }}</td>
                <td>{% for ro in publisher.reporting_orgs %}<code class="iati-code">{{ ro }}</code> {% endfor %}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

