{% extends 'timeliness_base.html' %}
{% import '_partials/boxes.html' as boxes with context %}

{% block content %}
    <div class="dashboard-panel" id="h_table">

        <div class="dashboard-panel-heading clearfix">
            <a href="{{ generated_url }}/data/csv/timeliness_timelag.csv" class="dashboard-panel-heading__title light float-end">(This table as CSV)</a>
            <h2 class="float-start dashboard-panel-heading__title">Table of Time lag assessments</h2>
        </div>


        <div class="dashboard-panel-body">
            <p>The time-lag statistics assess how up to date the data is <strong><em>at the point that it is refreshed</em></strong>. For instance a reporting org may refresh their data monthly, but the refreshed data is in fact three months old. Alternatively a reporting org may only refresh their data once a year, but when they do it contains current data that is less than one month out of date. Transactions are the most numerous and most regularly refreshed elements in reported IATI activities and they are therefore used to make this assessment. The table of statistics shows the number of transaction dates reported in each of the last twelve calendar months. The current month is shown for informational purposes, but excluded from the assessment.</p>

            <p><strong>Key:</strong><br>
            <span style="background-color: var(--dashboard-red-flag-colour); color: #fff;">Red flag</span>: Reporting org currently publishing future transaction dates.<br>
            <span style="background-color: var(--dashboard-yellow-flag-colour); color: #fff;">Yellow flag</span>: Reporting org not currently publishing future transaction dates, but did report future transactions at some point in the last twelve calendar months (See exceptions).</p>

            {% include '_partials/tablesorter_instructions.html' %}

        <div class="iati-table">
          <table class="table iati-table__table" id="main_table">
            <thead>
                <tr>
                    <th rowspan="2">Reporting Org Name</th>
                    <th colspan="{{ 13-timeliness.this_month_number }}">{{ timeliness.this_year-1 }}</th>
                    <th colspan="{{ timeliness.this_month_number }}">{{ timeliness.this_year }}</th>
                    <th rowspan="2"></th>
                    <th rowspan="2">Time lag</th>
                </tr>
                <tr>
                    {% for month in timeliness.previous_months_reversed %}
                    <th>{{ timeliness.short_month(month) }}</th>
                    {% endfor %}
                    <th>{{ timeliness.short_month(timeliness.this_month) }}</th>
                </tr>
            </thead>
            <tbody>
                {% for publisher in  publishers %}
                <tr>
                    <td><a href="{% if publisher.short_name %}{{ url('dash-headlines-publisher-detail', args=[publisher.short_name]) }}{% endif %}">{{ publisher.human_readable_name }}</a></td>
                    {% set per_month=publisher.transaction_months_with_year %}
                    {% set hft=publisher.has_future_transactions %}
                    {% for month in timeliness.previous_months_reversed %}
                    <td {% if not per_month[month] %}class="dashboard-text-muted"{% endif %}>{{ per_month[month] or 0 }}</td>
                    {% endfor %}
                    <td {% if not per_month[timeliness.this_month] %}class="dashboard-text-muted"{% endif %}>{{ per_month[timeliness.this_month] or 0 }}</td>
                    <td {% if hft %} class="{{ 'dashboard-red-flag' if hft==2 else 'dashboard-yellow-flag' }}"{% endif %} data-severity="{{ hft }}">{% if hft %}<a href="#h_exceptions">*</a>{% endif %}</td>
                    <td data-index="{{ timeliness.timelag_index(publisher.timelag) }}">{{ publisher.timelag }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>




    <div class="dashboard-panel" id="h_summary">
        <div class="dashboard-panel-heading">
            <h2 class="dashboard-panel-heading__title">Summary of Reporting Org Performance</h2>
        </div>
        <div class="dashboard-panel-body">
          <div class="iati-table">
            <table class="table iati-table__table">
              <thead>
                  <tr>
                      <th>Frequency</th>
                      <th>Count</th>
                  </tr>
              </thead>
              <tbody>
              {% for bin in publisher_timelag_summary %}
                  <tr>
                      <td>{{ bin.timelag }}</td>
                      <td>{{ bin.total }}</td>
                  </tr>
              {% endfor %}
              </tbody>
              <tfoot>
                  <tr>
                      <td>Total</td>
                      <td>{{ publisher_count }}</td>
                  </tr>
              </tfoot>
            </table>
          </div>
        </div>
    </div>

    <div class="dashboard-panel" id="h_assesment">
    <div class="dashboard-panel-heading">
        <h2 class="dashboard-panel-heading__title">Assessment</h2>
    </div>
    <div class="dashboard-panel-body">
      <p>These statistics are assessed as follows:</p>
      <div class="iati-table">
        <table class="table iati-table__table">
          <thead>
          <tr>
          <th>Transactions reported for ...</th>
          <th>Assessment</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td>2 of the last 3 months</td>
          <td>One month in arrears</td>
          </tr>
          <tr>
          <td>1 of the last 3 months</td>
          <td>A quarter in arrears</td>
          </tr>
          <tr>
          <td>Any of the last 6 months</td>
          <td>Six months in arrears</td>
          </tr>
          <tr>
          <td>1 of the last 12 months</td>
          <td>One year in arrears</td>
          </tr>
          <tr>
          <td>None of the last 12 months</td>
          <td>More than one year in arrears</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>




    <div class="dashboard-panel" id="h_exceptions">
    <div class="dashboard-panel-heading">
        <h2 class="dashboard-panel-heading__title">Exceptions</h2>
    </div>
    <div class="dashboard-panel-body">
        <p>Future transaction dates disrupt these statistics. For example a reporting org might today report a transaction date for each month for the next year and never refresh their data. Over the next year, as each of these future dates move into the past, the statistics would incorrectly give the reporting org a time-lag assessment of one month in arrears, even though they did not refresh their data.</p>

        <p><strong>Future transaction dates may affect the assessments on this page</strong>. Reporting orgs who currently have future transaction dates have a <span style="background-color: var(--dashboard-red-flag-colour); color: #fff;">red flag</span> next to their assessment. A <span style="background-color: var(--dashboard-yellow-flag-colour); color: #fff;">yellow flag</span> indicates that although a reporting org does not currently have future transactions, they did report future transactions at some point over the last twelve calendar months.</p>

        <p>We plan to exclude activities in which future transactions dates are reported from these assessments until such time that a reporting org's entire portfolio no longer contains any future dates.</p>
    </div>
    </div>




    <div class="dashboard-panel" id="h_comparison">
    <div class="dashboard-panel-heading">
        <h2 class="dashboard-panel-heading__title">Comparison with orginal Global Partnership Indicator methodology</h2>
    </div>
    <div class="dashboard-panel-body">
        <p>No change.</p>
    </div>
    </div>



    <div class="dashboard-panel" id="h_pseudocode">
    <div class="dashboard-panel-heading">
        <h2 class="dashboard-panel-heading__title">Pseudocode</h2>
    </div>
    <div class="dashboard-panel-body">
        <p>To get a count of transactions by calendar month (for a given reporting org):</p>
<pre><code class="iati-code iati-code--block">Using most recently captured data.
For each transaction (of any type) in the reporting org's data:
    Get the transaction date as follows:
        If transaction-date exists
            If transaction-date/@iso-date exists
                Use transaction-date/@iso-date
            Else
                Use transaction-date/text()
        Else if value/@value-date exists
            Use value/@value-date
        Else the transaction is ignored
    Parse the start of the transaction date as an iso date (yyyy-mm-dd...).
        If it does not match, the transaction is ignored.
    Record a count of the transaction date against the calendar year and month
</code></pre>
    </div>
    </div>
{% endblock %}

{% block tablesorteroptions %}
{
    widgets: ['stickyHeaders'],
    textExtraction: {
        4: function(node, table, cellIndex) {
            return jQuery(node).attr('data-index');
        },
        14: function(node, table, cellIndex) {
            return jQuery(node).attr('data-severity');
        },
        15: function(node, table, cellIndex) {
            return jQuery(node).attr('data-index');
        }
    }
}
{% endblock %}
