{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes with context %}
{% block content %}
    <div class="row">
      {{ boxes.box_h2('Invalid files', current_stats.aggregated.validation.fail, 'img/aggregate/validation.png', 'validation.json',
        description='Count of files that do not validate against the relevant schema, over time.') }}
      {{ boxes.box_h2('Reporting Orgs with invalid files', current_stats.aggregated.publishers_validation.fail, 'img/aggregate/publishers_validation.png', 'publishers_validation.json',
        description='Count of reporting orgs that have at least one invalid file, over time') }}
    </div>

    <h2>Breakdown By Reporting Org</h2>

    <div class="row">
    <div class="col-md-6">
      <div class="dashboard-panel">
      <div class="dashboard-panel-heading">
        <h3 class="dashboard-panel-heading__title">List of files that fail validation, grouped by reporting org</h3>
      </div>
      <div class="dashboard-panel-body">
        <div class="iati-card-gallery">
    {% for publisher in publishers %}
        {% with datasets = publisher.validation_datasets %}
        {% if datasets %}
        <div class="iati-card">
          <h4><a href="{{ url('dash-headlines-publisher-detail', args=[publisher.short_name]) }}" id="list_{{ publisher.short_name }}">{{ publisher.human_readable_name }}</a> ({{ datasets|length }})</h4>
          <table>
            <thead>
              <tr>
                <th scope="col">Dataset</th>
                <th style="max-width: 300px; overflow: clip;" scope="col">URL</th>
                <th scope="col">Validator report</th>
              </tr>
            </thead>
            <tbody>
            {% for dataset in datasets.keys() %}
            {% with dataset_name=dataset %}
              <tr>
                <td><a href="http://iatiregistry.org/dataset/{{ dataset_name }}">{{ dataset_name }}</a></td>
                <td style="max-width: 300px; overflow: clip;">
                  {% if publisher.short_name in ckan and dataset_name in ckan[publisher.short_name] %}
                  <a href="{{ ckan[publisher.short_name][dataset_name].resource.url }}">{{ ckan[publisher.short_name][dataset_name].resource.url|url_to_filename }}</a>
                  {% endif %}
                </td>
                <td>
                   {% if publisher.short_name in ckan and dataset_name in ckan[publisher.short_name] %}
                   <a href="https://validator.iatistandard.org/report/{{ dataset_name }}">validator</a>
                   {% endif %}
                </td>
              </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
          </table>
        </div> <!-- end of card -->
        {% endif %}
        {% endwith %}
    {% endfor %}
        </div> <!-- end of iati card gallery -->
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
    </div> <!-- end of column -->

    <div class="col-md-6">
      <div class="dashboard-panel">
      <div class="dashboard-panel-heading">
        <h3 class="dashboard-panel-heading__title">Count of files that fail validation, per reporting org</h3>
      </div>
      <div class="dashboard-panel-body">
        <table class="table table-striped">
          <thead><tr>
            <th>Reporting Org <a href="{{ stats_url }}/current/inverted-publisher/validation.json">(J)</a></th>
            <th>Failing files <a href="{{ stats_url }}/current/inverted-file/validation.json">(J)</a></th>
          </tr></thead>
          <tbody>
            {% for publisher in publishers %}
              {% if publisher.validation_datasets %}
              <tr>
                <td><a href="#list_{{ publisher.short_name }}">{{ publisher.human_readable_name }}</a></td>
                <td>{{ publisher.validation_datasets|length }}</td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
    </div> <!-- end of column -->
  </div> <!-- end of row -->
{% endblock %}
