{% macro box_h2(title, number, image, json, legend, folderextra, description) %}
      {% set alt="Graph of "~title~" against time" %}
      <div class="col-md-6">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading clearfix">
            <h2 class="dashboard-panel-heading__title float-start">
              {% if number %}
                {% set title_id = title.replace(' ', '-').lower() %}
                <span id="{{ title_id }}" class="dashboard-panel-heading__titlenum" aria-hidden="true">{% if number is number %}{{ "{:,}".format(number) }}{% else %}{{ number }}{% endif %}</span>
              {% endif %}
              {{ title }}
            </h2>
            {% if json %}
              {% if folderextra %}
                <a href="{{ stats_url }}/gitaggregate{{ folderextra }}-dated/{{ json }}" class="dashboard-panel-heading__title light float-end">(J)</a>
              {% else %}
                <a href="{{ stats_url }}/gitaggregate-dated/{{ json }}" class="dashboard-panel-heading__title light float-end">(J)</a>
              {% endif %}
            {% endif %}
          </div>
          <div class="dashboard-panel-body">
            {% if description %}
              <p>{{ description|safe }}</p>
            {% endif %}
            <img src="{{ generated_url }}/{{ image }}" style="width: 100%" alt="{{ alt }}">
            {% if legend %}
              <img src="{{ generated_url }}/{{ legend }}" style="width: 100%" alt="{{ alt }}">
            {% endif %}
          </div>
        </div>
      </div>
{% endmacro %}

{% macro datacard_complete(
  title,
  tagline,
  stat1,
  stat2,
  stattitle1,
  stattitle2,
  folderextra,
  graph,
  json,
  description,
  buttonlink1,
  buttonlink2,
  buttontext1,
  buttontext2
) %}
  <div class="iati-data-card">
    <header class="iati-data-card--header">
      <h3 class="iati-data-card__title">{{ title }}</h3>
    </header>
    <div class="iati-data-card--body">
      {% if tagline %}
        <p class="iati-data-card__tagline">
          {{ tagline|safe }}
        </p>
      {% endif %}
      <div class="iati-data-card__stats">
        <div class="iati-data-card__stat">
          <div class="iati-data-card__stat-label">{{ stattitle1 }}</div>
          <div class="iati-data-card__stat-value">{% if stat1 is number %}{{ "{:,}".format(stat1) }}{% else %}{{ stat1|replace(' ', '&nbsp;')|safe }}{% endif %}</div>
        </div>
        {% if stattitle2 %}
          <div class="iati-data-card__stat">
            <div class="iati-data-card__stat-label">{{ stattitle2 }}</div>
            <div class="iati-data-card__stat-value">{% if stat2 is number %}{{ "{:,}".format(stat2) }}{% else %}{{ stat2|replace(' ', '&nbsp;')|safe }}{% endif %}</div>
          </div>
        {% endif %}
      </div>
      {% if folderextra %}
        {% if graph %}
          <div class="iati-data-card__graph">
            <canvas class="iati-data-card__sparkline" data-url="{{ stats_url }}/gitaggregate{{ folderextra }}-dated/{{ json }}"></canvas>
          </div>
        {% endif %}
      {% else %}
        {% if graph %}
          <div class="iati-data-card__graph">
            <canvas class="iati-data-card__sparkline" data-url="{{ stats_url }}/gitaggregate-dated/{{ json }}"></canvas>
          </div>
        {% endif %}
      {% endif %}
      {% if description %}
        <div class="iati-data-card__caption">
          {{ description|safe }}
        </div>
      {% endif %}
      {% if buttonlink1 %}
        <div class="iati-data-card__button">
          <a href="{{ buttonlink1 }}" class="iati-button iati-button--submit">{{ buttontext1 }}</a>
          {% if buttonlink2 %}
            <a href="{{ buttonlink2 }}" class="iati-button iati-button--submit" style="margin-top:0.5rem;">{{ buttontext2 }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
