{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block content %}
    <div class="row">
      {{boxes.box('Total activities', current_stats.aggregated.activities, 'activities.png', 'activities.json',
        description='Total count of activities across all publishers, over time.
        Note: this includes activities with duplicate <code>iati-identifier</code>')}}
      {{boxes.box('Unique Activities', current_stats.aggregated.unique_identifiers, 'unique_identifiers.png', 'unique_identifiers.json',
        description='Total count of unique activities across all publishers, over time
        Note: this excludes counts of duplicate <code>iati-identifier</code>')}}
      {{boxes.box('Activities by publisher type', '', 'activities_per_publisher_type.png', None, 'activities_per_publisher_type_legend.png',
        description='Count of all activities, aggregated by publisher type, over time.')}}
    </div>
{% endblock %}
