{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="page-header">
      <h1>Annual Report Stats</h1>
      <p class="lead">NOTE: This page is very much a work in progress, and currently the methodology differs subtly from the Annual Report.</p>
    </div>

    <!--<p><a href="{{url('publishers.csv')}}">This table as CSV</a></p>-->

    <!--<div class="panel panel-default">-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Publisher Name</th>
                <th>Activities at Lowest Hierarchy</th>
                {% for methodlogy_id in current_stats.aggregated.annualreport %}
                <th>{{annualreport_columns.get(methodlogy_id)}}
                {% endfor %}
            </tr>
            <tr>
                <th>Methodology</th>
                <th></th>
                {% for methodlogy_id in current_stats.aggregated.annualreport %}
                <th>{{methodlogy_id}}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for publisher, activities in current_stats.inverted_publisher.activities.items() %}
            {% set publisher_stats = get_publisher_stats(publisher) %}
            <tr>
                <td><a href="publisher/{{publisher}}.html">{{publisher_name[publisher]}}</a></td>
                <td>{{publisher_stats.bottom_hierarchy.activities}}</td>
                {% for methodlogy_id in current_stats.aggregated.annualreport %}
                {% if methodlogy_id in publisher_stats.bottom_hierarchy.annualreport and publisher_stats.bottom_hierarchy.annualreport_denominator[methodlogy_id] %}
                    <td>{{(publisher_stats.bottom_hierarchy.annualreport[methodlogy_id]/publisher_stats.bottom_hierarchy.activities*100)|round|int}}</td>
                {% elif publisher_stats.annualreport_denominator[methodlogy_id] %}
                    <td>{{(publisher_stats.publisher_unique_identifiers/activities*100)|round|int}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--</div>-->
{% endblock %}
