{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Booleans
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Booleans</h1>
  <p>List of values actually used by publishers for attributes that should be booleans (ie. <code>true</code>, <code>false</code>, <code>0</code> or <code>1</code>)</p>.
</div>

    (<a href="{{stats_url}}/current/inverted-publisher/reporting_orgs.json">This table as JSON</a>)

    <table class="table table-striped">
      <thead><tr><th>Element</th><th>Values</th><th>Publishers</th></tr></thead>
      <tbody>
        {% for boolean, values in current_stats.inverted_publisher.boolean_values.items() %}
            {% for value, publishers in values.items()%}
                <tr>
                    <td>{{boolean}}</td>
                    <td>{{value}}</td>
                    <td>{%for publisher in publishers%}{{publisher}} {%endfor%}</td>
                </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
