{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}

{% block content %}
    <p>(<a href="{{stats_url}}/current/inverted-publisher/reporting_orgs.json">This table as JSON</a>)</p>

    <div class="panel panel-default">
    <div class="panel-body">
      <p>List of values used by publishers for attributes that should be valid XML booleans (ie. <code>true</code>, <code>false</code>, <code>0</code> or <code>1</code>).</p>
      {% include 'tablesorter_instructions.html' %}
    </div>
    <table class="table table-striped">
      <thead><tr><th>Element</th><th>Values</th><th>Publishers</th></tr></thead>
      <tbody>
        {% for boolean, values in current_stats.inverted_publisher.boolean_values.items() %}
            {% for value, publishers in values.items()%}
                <tr>
                    <td><a href="{{boolean|xpath_to_url}}">{{boolean}}</a></td>
                    <td>{{value}}</td>
                    <td>{%for publisher in publishers%}{{publisher}} {%endfor%}</td>
                </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </div>

{% endblock %}
