{% macro box(title, number, image, json, legend, folderextra) %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="title-number">{{number}}</span>
              <span class="title-text">{{title}}</span>
            </h3>
            {% if json %}
            <a href="{{stats_url}}/gitaggregate{{folderextra}}-dated/{{json}}" style="float:right">(J)</a>
            {% endif %}
            <br clear="all"/>
          </div>
          <div class="panel-body">
            <img src="{{image}}" width="100%" />
            {% if legend %}
            <img src="{{legend}}" width="100%" />
            {% endif %}
          </div>
        </div>
      </div>
{% endmacro %}
