{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Codelists
{% endblock %}
{% block content %}

    <h3>{{element}}</h3>

    <p><a href="{{element|xpath_to_url}}">Documentation for {{element}}</a></p>


    <p>Should be on <a href="http://iatistandard.org/codelists/{{codelist_mapping.get(element)}}/">{{codelist_mapping.get(element)}}</a> codelist.
    {% with elements=reverse_codelist_mapping[codelist_mapping[element]] %}
    {% if elements|count > 1 %}
    Other elements/attributes on this codelist: 
    <ul>
    {% for el in elements%}
    {% if el in current_stats.inverted_publisher.codelist_values.keys() %}
    {% if el!=element%}<li><a href="{{slugs.codelist.by_i[current_stats.inverted_publisher.codelist_values.keys().index(el)]}}.html">{{el}}</a></li>{% endif %}
    {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</p>

    <p>&nbsp;</p>

    <p>(<a href="{{stats_url}}/current/inverted-publisher/codelist_values.json">This page in JSON format</a>)</p>

    <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">On Codelist</h3>
    </div>
    <table class="table table-striped">
      <thead><tr><th>Value</th><th>Publishers</th></tr></thead>
      <tbody>
        {% for value, publishers in values.items() %}
            {% if value in codelist_sets.get(codelist_mapping.get(element)) %}
            <tr><td>{{value}}</td><td>
                <a href="javascript: return false;" class="popover-html" title="Publishers using <code>{{value}}</code>" data-content="{% for publisher in sorted(publishers) %}<a href='../publisher/{{publisher}}.html#p_codelists'>{{publisher}}</a><br/> {% endfor %}">{{publishers|length}}</a>
            </td></tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>

    <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Not On Codelist</h3>
    </div>
    <table class="table table-striped">
      <thead><tr><th>Value</th><th>Publishers</th></tr></thead>
      <tbody>
        {% for value, publishers in values.items() %}
            {% if not value in codelist_sets.get(codelist_mapping.get(element)) %}
            <tr><td>{{value}}</td><td>
                <a href="javascript: return false;" class="popover-html" title="Publishers using <code>{{value}}</code>" data-content="{% for publisher in sorted(publishers) %}<a href='../publisher/{{publisher}}.html#p_codelists'>{{publisher}}</a><br/> {% endfor %}">{{publishers|length}}</a>
            </td></tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    </div>

{% endblock %}

{% block extrafooter %}
    <script>
$('.popover-html').popover({
  html: true
})
    </script>
{% endblock %}
