{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Codelists
{% endblock %}
{% block content %}

    <div class="page-header">
      <h1>Codelists</h1>
      <p class="lead"></p>
    </div>

    <div class="panel panel-default">
    <table class="table table-striped">
      <thead><tr>
        <th>Element/Attribute on codelist</th>
        <th>Codelist</th>
        <th>Values <a href="{{stats_url}}/current/inverted-publisher/codelist_values.json">(J)</a></th>
      </tr></thead>
      <tbody>
        {% for i, (element, values) in enumerate(current_stats.inverted_publisher.codelist_values.items()) %}
            <tr>
                <td><a href="codelist/{{slugs.codelist.by_i[i]}}.html">{{element}}</td>
                <td><a href="http://dev.iatistandard.org/codelists/{{codelist_mapping.get(element)}}.html">{{codelist_mapping.get(element)}}</a></td>
                
                <td>{{values|length}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

{% endblock %}
