{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}

{% block container %}
    
    {% block page_header_div %}
        {{ super() }}
    {% endblock %}

    <ul class="nav nav-tabs" role="tablist">
      <li{% if tab=='summary' %} class="active"{% endif %}><a href="comprehensiveness.html">Summary</a></li>
      <li{% if tab=='core' %} class="active"{% endif %}><a href="comprehensiveness_core.html">Core</a></li>
      <li{% if tab=='financials' %} class="active"{% endif %}><a href="comprehensiveness_financials.html">Financials</a></li>
      <li{% if tab=='valueadded' %} class="active"{% endif %}><a href="comprehensiveness_valueadded.html">Value added</a></li>
    </ul>

    <ul class="list-inline" style="padding: 1em">
        <li><a href="#h_table">Table</a></li>
        <li>|</li>
        <li><a href="#h_narrative">Narrative</a></li>
        <li>|</li>
        <li><a href="#h_assessment">Assessment</a></li>
        <li>|</li>
        <li><a href="#h_exceptions">Exceptions</a></li>
        <li>|</li>
        <li><a href="#h_comparison">Comparison with Global Partnership Indicator methodology</a></li>
        <li>|</li>
        <li><a href="#h_pseudocode">Pseudocode</a></li>
    </ul>

    {% block content %}
    <div class="panel panel-default" id="h_table">
    <div class="panel-heading">
        <span class="pull-right"><a href="{{url('comprehensiveness_'+tab+'.csv')}}">(This table as CSV)</a></span>
        <h3 class="panel-title">Table of Comprehensiveness values</h3>     
    </div>
    
    {% if self.heading_detail() %}
    <div class="panel-body">
        <p>{% block heading_detail %}{% endblock %}</p>
    </div>
    {% endif %}

    <table class="table table-striped" id="main_table">
        <thead>
            <tr>
                <th style="vertical-align:middle; border: 1px solid gray;">Publisher Name</th>
                {% for column_header in comprehensiveness.column_headers[tab] %}
                <th style="vertical-align:middle; border: 1px solid gray;">{{column_header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in comprehensiveness.table() %}
            <tr {% if loop.last %} style="border-bottom: 1px solid gray;"{% endif %}>
                <td style="border-right: 1px solid gray; border-left: 1px solid gray;"><a href="publisher/{{row.publisher}}.html">{{row.publisher_title}}</a></td>
                {% for column_slug in comprehensiveness.column_slugs[tab] %}
                <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{% if column_slug in row %}
                    {{row[column_slug+'_valid']}}
                    {% if row[column_slug+'_valid'] != row[column_slug] %}
                    <span class="text-muted">({{row[column_slug]}})</td>
                    {% endif %}
                    {% else %}-{% endif %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


    {% block narrative %}
    <div class="panel panel-default" id="h_narrative">
        <div class="panel-heading">
            <h3 class="panel-title">Narrative</h3>
        </div>
        <div class="panel-body">
            {% block narrative_text %}{% endblock %}
        </div>
    </div>
    {% endblock %}


    {% block assessment %}
    <div class="panel panel-default" id="h_assessment">
        <div class="panel-heading">
            <h3 class="panel-title">Assessment</h3>
        </div>
        <div class="panel-body">
            {% block assessment_text %}{% endblock %}
        </div>
    </div>
    {% endblock %}


    {% block exceptions %}
    <div class="panel panel-default" id="h_exceptions">
        <div class="panel-heading">
            <h3 class="panel-title">Exceptions</h3>
        </div>
        <div class="panel-body">
            {% block exceptions_text %}{% endblock %}
        </div>
    </div>
    {% endblock %}


    {% block comparison %}
    <div class="panel panel-default" id="h_comparison">
        <div class="panel-heading">
            <h3 class="panel-title">Comparison with Global Partnership Indicator methodology</h3>
        </div>
        <div class="panel-body">
            {% block comparison_text %}
            <span style="background-color: #fcf8aa">Text on Comparison with Global Partnership Indicator methodology to follow</span></p>
            {% endblock %}
        </div>
    </div>
    {% endblock %}


    <div class="panel panel-default" id="h_pseudocode">
    <div class="panel-heading">
        <h3 class="panel-title">Pseudocode</h3>
    </div>
    <div class="panel-body">

    <p>For the purpose of this calculation, each <code>iati-activity</code> XML block is an activity.</p>

    <p>To determine the lowest hierarchy:</p>
<pre>
Lowest hierarchy =
   Largest integer reported in the hierarchy attribute of any iati-activity element 
</pre>

    <p>To determine whether an activity is at the lowest hierarchical level:</p>

<pre>
If the @hierarchy attribute is missing
    If the lowest hierarchical level is 1
        Activity is at lowest hierarchical level
    Else
        Activity is NOT at lowest hierarchical level
Else if the @hierarchy attribute == lowest hierarchy
    Activity is at lowest hierarchical level
Else
    Activity is NOT at lowest hierarchical level
</pre>

    <p>To test whether an activity is current:</p>

<pre>
end dates =
    For each activity-date of type end-planned or end-actual
        Parse activity-date/@iso-date as an iso date ('yyyy-mm-dd...')
        If this does not work parse activity-date/text() as an iso date ('yyyy-mm-dd...')
        If neither work, ignore this activity-date

If activity-status/@code exists
    If activity-status/@code is 2 exists
        The activity is current
    Else
        The activity is current
Else
    If end dates (see above) is empty
        The activity is current
    Else
        If there is an end date where (date year >= current year)
            The activity is current
        Else
            The activity is not current
    
</pre>

    <p>To determine whether we use an activity is relevant for a given comprehensiveness test.</p>

<pre>
start date =
    If activity-date[@type="start-actual"] exists
        Parse activity-date[@type="start-actual"]/@iso_date as an iso date ('yyyy-mm-dd...')
            If this works, we have the start date, else null
    Else If activity-date[@type="start-planned"] exists
        Parse activity-date[@type="start-planned"]/@iso_date as an iso date ('yyyy-mm-dd...')
            If this works, we have the start date, else null
    Else
        null

If the activity is current
    If we are on the financials tab
        If hierarchy = lowest level
            If the comprehensiveness test is 'Transaction - Disbursement or Expenditure'
                If (start date isn't null
                        and start date &lt; today
                        and today - start date &lt; 365 days)
                    Use activity
                Else
                    Ignore activity
            Else If the comprehensiveness test is 'Transaction - Traceability'
                If transaction/transaction-type[@code="IF"] exists (1.xx) or transaction/transaction-type[@code="1"] exists (2.xx)
                    Use activity
                Else
                    Ignore activity
            Else
                Use activity
        Else
            Ignore activity
    Else
        Use activity
Else
    Ignore activity
</pre>

    <table class="table">
      <tr>
        <th>Tab</td>
        <th>Comprehensiveness Test</td>
        <th>Basic Methodology</td>
        <th>Validation Methodology</td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Version</th>
        <td>iati-activities/@version must exist for the file the activity is in</th>
        <td>iati-activities/@version must be on the <a href="http://iatistandard.org/codelists/Version/">Version codelist</a></th>
      </tr>
      <tr>
        <td>Core</td>
        <td>Reporting-Org</td>
        <td>reporting-org/@ref and must exist and reporting-org must have textual content</td>
        <td></td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Iati-identifier</td>
        <td>Activity must contain a nonempty iati-identifier</td>
        <td>iati-identifier must have start with the value in reporting-org/@ref</td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Participating Organisation</td>
        <td>Activity must contain at least 1 participating-org</td>
        <td>At least one participating-org must have @role <code>Funding</code> (1.xx) or <code>1</code> (2.xx)</td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Title</td>
        <td>Activity must contain a non-empty title element</td>
        <td></td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Description</td>
        <td>Activity must contain a non-empty description element</td>
        <td></td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Status</td>
        <td>Activity must contain an activity-status element</td>
        <td>activity-status/@code must be on the <a href="http://iatistandard.org/codelists/ActivityStatus/">ActivityStats codelist</a></td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Activity Date</td>
        <td>Activity must contain at least 1 activity-date element</td>
        <td>At least 1 activity-date element in the activity must have @type equal to <code>start-planned</code> or <code>start-actual</code> (1.xx) or <code>1</code> or <code>2</code> (2.xx)</td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Sector</td>
        <td>At least one sector element present at activity level OR in all transactions</td>
        <td>If activity level AND more than 1 per vocab, percentage must add up per vocab</td>
      </tr>
      <tr>
        <td>Core</td>
        <td>Country or Region</td>
        <td>(<code>recipient-country</code> OR <code>recipient-region</code>) at activity level OR (2.xx only) on all transactions</td>
        <td>If activity level AND more than 1 THEN  percentages must add up</td>
      </tr>
      <tr>
        <td>Financials</td>
        <td>transaction - Commitment</th>
        <td>Activity must have at least 1 transaction with @type <code>C</code> (1.xx) or <code>2</code> (2.xx)</td>
        <td>All transactions of this @type must have a value that is a valid <code>xs:decimal</code> AND on of (transaction-date/@iso-date OR value/@value-date) that is a valid <code>xs:date</code></th>
      </tr>
      <tr>
        <td>Financials</td>
        <td>transaction - Disbursement or Expenditure</td>
        <td>Activity must have at least 1 transaction with @type <code>D</code> or <code>E</code> (1.xx) or <code>3</code> or <code>4</code> (2.xx)</td>
        <td>All transactions of these @type's must have a value that is a valid <code>xs:decimal</code> AND on of (transaction-date/@iso-date OR value/@value-date) that is a valid <code>xs:date</code></th>
      </tr>
      <tr>
        <td>Financials</td>
        <td>Transaction - Currency</td>
        <td>All transactions must have value/@currency OR the activity must have a @default-currency attribute. All transactions must have value/@value-date</td>
        <td>All currency values must be on the <a href="http://iatistandard.org/codelists/Currency/">Currency codelist</a>. value/@value-date must be valid <code>xs:date</code>.</td>
      </tr>
      <tr>
        <td>Financials</td>
        <td>Transaction - Traceability</td>
        <td>All transactions of @type=IF (1.xx) or @type=1 (2.xx) must contain provider-org/@provider-activity-id</td>
        <td></td>
      </tr>
      <tr>
        <td>Financials</td>
        <td>Budget</td>
        <td>Activity must have at least 1 budget element</td>
        <td>Each budget element must contain period-start/@iso-date and period-end/@iso-date and value/@value-date that are valid <code>xs:date</code>s AND a value element that is a valid <code>xs:decimal</code></td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Contacts</th>
        <td>Activity must contain 1 contact-info/email element</th>
        <td></th>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Location Details</td>
        <td>Activity must contain location/name OR location/description OR location/location-administrative) OR location/point/pos</td>
        <td></td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Geographic Coordinates</td>
        <td>Activity must contain location/point/pos</td>
        <td>location/point/pos must contain valid coordinates (two space separated decimals), and not be <code>0 0</code></td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>DAC Sectors</td>
        <td>Activity must contain at least 1 sector where @vocabulary is <code>DAC</code> or <code>DAC-3</code> (1.xx) or <code>1</code> or <code>2</code> (2.xx), or there is no @vocabulary attribute (in which case DAC/1 is assumed).</td>
        <td>Must be valid code on the <a href="http://iatistandard.org/codelists/Sector/">DAC</a> or <a href="http://iatistandard.org/codelists/SectorCategory/">DAC-3</a> lists as appropriate.</td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Capital Spend</td>
        <td>Activity must contain the capital-spend/@percentage attribute</td>
        <td></td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Activity Documents</td>
        <td>Activity must contain at least 1 document-link</td>
        <td>Each document-link must contain valid document category code and a url that is a valid <code>xs:anyURI</code> and contains the string <code>//</code>.</td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Activity Website</td>
        <td>Activity must contain activity-website element (1.xx) or a document-link element where @category=A12 (2.xx)</td>
        <td>The url must be a valid <code>xs:anyURI</code> and contain the string <code>//</code>.</td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Recipient Language</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Conditions Attached</td>
        <td>Activity must contain the conditions/@attached attribute</td>
        <td></td>
      </tr>
      <tr>
        <td>Value added</td>
        <td>Result/Indicator</td>
        <td>Activity must contain the result/indicator element</td>
        <td></td>
      </tr>
    </table>

    <p>Where the Validation Methodology column is blank, no extra conditions are imposed over the basic methodology.</p>
    <p>The main percentage is the percentage of relevant activities that satisfy the basic and validation methodology for the given Comprehensiveness Test and publisher.</p>
    <p>The bracketed percentage is the percentage of relevant activities that satisfy the basic methodology for the given Comprehensiveness Test and publisher. This is only shown if it is different to the main percentage.</p>
    </div>


    </div>
    {% endblock %}
{% endblock %}

{% block tablesorteroptions %}{
    widgets: ['stickyHeaders'],
    textExtraction:{
        1: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        2: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        3: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        4: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        5: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        6: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        7: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        8: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        9: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        10: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        },
        11: function(node,table,cellIndex) {
            if ($(node).text().indexOf('-') >= 0) return '0';
            else return $(node).text();
        }
    }
}
{% endblock %}
{% block tablesortertarget %}table#main_table{% endblock %}

