{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Publisher Name</td>
                <td>IATI 2012 Spend</td>
                <td>DAC ODA 2012</td>
                <td>Percentage</td>
            </tr>
        </thead>
        <tbody>
            {% for publisher_title,publisher in publishers_ordered_by_title %}
            {% set publisher_stats = get_publisher_stats(publisher) %}
            <tr>
                <td><a href="publisher/{{publisher}}.html">{{publisher_title}}</a></td>
                <td>
                    {% if publisher_stats.spend_currency_year and '2012' in publisher_stats.spend_currency_year %}
                    {% for k,v in publisher_stats.spend_currency_year['2012'].items() %}
                    {{v}} {{k}}</br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if publisher in dac2012 %}
                    {{dac2012[publisher]*1000000}} USD
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if publisher_stats.spend_currency_year and '2012' in publisher_stats.spend_currency_year %}
                    {% if publisher in dac2012 %}
                    {% if publisher_stats.spend_currency_year['2012'].keys() == ['USD'] %}
                    {{(publisher_stats.spend_currency_year['2012']['USD']/(float(dac2012[publisher])*1000000)*100) | round(1)}}%
                    {% else %}
                    Currency conversion not implemented
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
