{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Elements
{% endblock %}
{% block content %}
    <div class="col-md-6">
      <div class="panel panel-default">
        <table class="table table-striped">
          <thead><tr><th>Elements</th><th>Publishers</th></tr></thead>
          <tbody>
            {% for element,publishers in current_stats.inverted.elements.items() %}
            <tr>
              <td><a href="element/{{element_url(element)}}.html">{{element}}</a></td>
              <td>{{publishers|length}}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div> 
    </div>
{% endblock %}
