{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Download this data as CSV: <ul>
                <li><a href="elements.csv">Activities/Orgs with element per publisher</a></li>
                <li><a href="elements.csv">Total instances of element per publisher</a></li>
            </ul></p>
        </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Usage of an IATI Element by:
            <ul>
            <li>Publisher: Total number of publishers that use this element (at least once)</li>
            <li>Activities / Orgs: total number of <code>iati-activity</code> or <code>iati-organisation</code> (where applicable) that use this element.</li>
            <li>Total - Count of total instances in which this element is used, across all publishers.</li>
            </ul>
            </p>
            {% include 'tablesorter_instructions.html' %}
          </div>
          <table class="table table-striped">
            <thead><tr>
              <th>Element/Attribute</th>
              <th>Publishers <a href="{{stats_url}}/current/inverted-publisher/elements.json">(J)</a></th>
              <th>Activities/Orgs with element <a href="{{stats_url}}/current/aggregated/elements.json">(J)</a></th>
              <th>Total Instances of Element <a href="{{stats_url}}/current/aggregated/elements_total.json">(J)</a></th>
            </tr></thead>
            <tbody>
              {% for i, (element,publishers) in enumerate(current_stats.inverted_publisher.elements.items()) %}
              <tr>
                <td class="break"><a href="element/{{slugs.element.by_i[i]}}.html">{{element}}</a></td>
                <td><a href="element/{{slugs.element.by_i[i]}}.html">{{publishers|length}}</a></td>
                <td>{{current_stats.aggregated.elements[element]}}</td>
                <td>{{current_stats.aggregated.elements_total[element]}}</td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
