{% extends 'base.html' %}

{% block content %}

    <div class="row">
      <div class="col-xs-12">
<h3>Who provides the Code for IATI Dashboard?</h3>
<p>This fork of the original IATI Dashboard is maintained by <a href="https://codeforiati.org/">Code for IATI</a> volunteers. The Dashboard grew out of various projects to track and provide metrics for how IATI data is published and how the IATI Standard is used in practice.</p>

<h3>When is the Dashboard updated?</h3>
<p>The Dashboard is generated daily.</p>
<p>This is a two step process:</p>
<ol>
<li>The Dashboard first downloads the data that is linked to from the IATI Registry - see “data downloaded” date time at the footer of each page.</li>
<li>From this dataset, the relevant statistics are calculated, and the Dashboard is then updated - see “generated” date/time at footer.</li>
</ol>

<h3>Why is there a difference between the data download and Dashboard generation time?</h3>
<p>The data is downloaded, and then there is a period of computing time to generate the statistics that inform the Dashboard.</p>
<p>Usually, there is a small period of time between the two. However, we do track this as sometimes things break - and the site fails to regenerate. If you spot something, please also let us know by <a href="https://github.com/codeforIATI/IATI-Dashboard/issues">creating an issue on github</a>.</p>

<h3>Does a graph going up or down mean something good?</h3>
<p>No.  There may be a number of reasons why a certain graph or number rises or falls.</p>
<p>In some cases, a fall in the graph may well be down to the fact that the Dashboard script failed to download the relevant data.  This could be due to any number of reasons - and not necessarily anything to do with the setup of the IATI publisher.</p>
<p>Therefore, we stress to treat the graphs, numbers and statistics on the Dashboard with <strong>caution, context and consideration</strong>.  </p>
<p>Should you think something is really wrong, please let us know by <a href="https://github.com/codeforIATI/IATI-Dashboard/issues">creating an issue on github</a>.</p>

<h3>Can I build my own version of this Dashboard?</h3>
<p>Yes - the source code is all open source. This copy is itself a fork (plus various bugfixes and upgrades of the Dashboard maintained by the IATI Secretariat:</p>
<ol>
<li><a href="https://github.com/codeforIATI/IATI-Stats">https://github.com/codeforIATI/IATI-Stats</a>.</li>
<li><a href="https://github.com/codeforIATI/IATI-Dashboard">https://github.com/codeforIATI/IATI-Dashboard</a>.</li>
</ol>
<p>We advise you to check through the technical specifications.</p>

<h3>How can I suggest a new function?</h3>
<p>Ideally, we’d suggest to check through <a href="https://github.com/codeforIATI/IATI-Dashboard/issues">the list of issues we have logged in our Github repositories</a>.</p>

<h3>We’ve published/updated our IATI data, but the numbers haven’t updated.</h3>
<p>We’d suggest two initial checks:</p>

<ol>
<li>Is the data registered on the IATI Registry?</li>
<li>Has the dashboard updated since you published (check the times at the footer of this page)?</li>
</ol>

<p>Should you still believe that data is missing from the Dashboard, we’d love to hear from you - please contact us by <a href="https://github.com/codeforIATI/IATI-Dashboard/issues">creating an issue on github</a>.</p>


<h3>I want to get to the raw data of a publisher - how can I do that?</h3>
<p>Two ways:</p>
<ol>
<li>Visit the IATI Registry and access the relevant links to the XML files - these links are often found on the relevant Dashboard page.</li>
<li>Try a query via the <a href="https://datastore.codeforiati.org">IATI Datastore Classic</a></li>
</ol>
</div>
</div>

{% endblock %}
