{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="row">
      {{boxes.box('Activity XML Files', current_stats.aggregated.activity_files, 'activity_files.png')}}
      {{boxes.box('Total File Size', current_stats.aggregated.file_size|filesizeformat, 'file_size.png')}}
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">File Sizes</h3></div>
        <table class="table table-striped">
            <tbody>
            {% for bin,freq in sorted(current_stats.aggregated.file_size_bins.items(), key=firstint) %}
                <tr>
                    <td>{{bin}}</td>
                    <td>{{freq}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Package Name</th>
                <th>Activities</th>
                <th>Organisations</th>
                <th>File Size</th>
            </tr>
        </thead>
        <tbody>
            {% for package, activities in current_stats.inverted_file.activities.items() %}
            <tr>
                <td><a href="http://iatiregistry.org/dataset/{{package}}">{{package}}</a></td>
                <td>{{activities}}</td>
                <td>{{current_stats.inverted_file.organisations.get(package)}}</td>
                <td data-bytes="{{current_stats.inverted_file.file_size.get(package)}}">{{current_stats.inverted_file.file_size.get(package)|filesizeformat}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block tablesorteroptions %}
{textExtraction:{3: function(node,table,cellIndex) { return $(node).attr('data-bytes'); }}}
{% endblock %}
