{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td style="border-left: 1px solid gray;"></td>
                <td colspan="3" style="border-left: 1px solid gray;">Current activities</td>
                <td colspan="3" style="border-left: 1px solid gray;">Activities with budgets</td>
                <td colspan="3" style="border-left: 1px solid gray;">Value of budgets</td>
                <td colspan="3" style="border-left: 1px solid gray;">Percentage of activities with budgets</td>
            </tr>
            <tr>
                <td>2013 Spend</td>
                <td style="border-left: 1px solid gray;">Publisher Name</td>
                <td style="border-left: 1px solid gray;">2014</td>
                <td>2015</td>
                <td>2016</td>
                <td style="border-left: 1px solid gray;">2014</td>
                <td>2015</td>
                <td>2016</td>
                <td style="border-left: 1px solid gray;">2014</td>
                <td>2015</td>
                <td>2016</td>
                <td style="border-left: 1px solid gray;">2014</td>
                <td>2015</td>
                <td>2016</td>
            </tr>
        </thead>
        <tbody>
            {% for publisher_title,publisher in publishers_ordered_by_title %}
            {% set publisher_stats = get_publisher_stats(publisher) %}
            <tr>
                <td>
                    {% if publisher_stats.spend_currency_year and '2013' in publisher_stats.spend_currency_year %}
                    {% for k,v in publisher_stats.spend_currency_year['2013'].items() %}
                    {{v}} {{k}}</br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td style="border-left: 1px solid gray;"><a href="publisher/{{publisher}}.html">{{publisher_title}}</a></td>
                <td style="border-left: 1px solid gray;">{{publisher_stats.forwardlooking_activities_current['2014']}}</td>
                <td>{{publisher_stats.forwardlooking_activities_current['2015']}}</td>
                <td>{{publisher_stats.forwardlooking_activities_current['2016']}}</td>
                <td style="border-left: 1px solid gray;">{{publisher_stats.forwardlooking_activities_with_budgets['2014']}}</td>
                <td>{{publisher_stats.forwardlooking_activities_with_budgets['2015']}}</td>
                <td>{{publisher_stats.forwardlooking_activities_with_budgets['2016']}}</td>
                <td style="border-left: 1px solid gray;">
                    {% if publisher_stats.forwardlooking_currency_year and '2014' in publisher_stats.forwardlooking_currency_year %}
                    {% for k,v in publisher_stats.forwardlooking_currency_year['2014'].items() %}
                    {{v}} {{k}}</br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if publisher_stats.forwardlooking_currency_year and '2015' in publisher_stats.forwardlooking_currency_year %}
                    {% for k,v in publisher_stats.forwardlooking_currency_year['2015'].items() %}
                    {{v}} {{k}}</br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if publisher_stats.forwardlooking_currency_year and '2016' in publisher_stats.forwardlooking_currency_year %}
                    {% for k,v in publisher_stats.forwardlooking_currency_year['2016'].items() %}
                    {{v}} {{k}}</br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td style="border-left: 1px solid gray;">{% if not publisher_stats.forwardlooking_activities_current.get('2014') %}n/a{%else%}{{publisher_stats.forwardlooking_activities_with_budgets['2014']/publisher_stats.forwardlooking_activities_current['2014']}}{%endif%}</td>
                <td>{% if not publisher_stats.forwardlooking_activities_current.get('2015') %}n/a{%else%}{{publisher_stats.forwardlooking_activities_with_budgets['2015']/publisher_stats.forwardlooking_activities_current['2015']}}{%endif%}</td>
                <td>{% if not publisher_stats.forwardlooking_activities_current.get('2016') %}n/a{%else%}{{publisher_stats.forwardlooking_activities_with_budgets['2016']/publisher_stats.forwardlooking_activities_current['2016']}}{%endif%}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
