{% extends 'base.html' %}
{% block title %}
{{ super () }} - Github
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Github Overview</h1>
  <p>Various numbers from the <a href="https://github.com/IATI">IATI github organisation</a>.</p>
</div>

<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Repositories</td>
            <td>{{repos|count}}</td>
        </tr>
        <tr>
            <td>Open Issues</td>
            <td><a href="https://github.com/organizations/IATI/dashboard/issues/">{{github_stats.open_issues}}</a></td>
        </tr>
    </tbody>

</table>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"><h3 class="panel-title">Repositories</h3></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Open Issues</th>
        </tr>
    <tbody>
    {% for repo in repos %}
        <tr>
            <td><a href="{{repo.html_url}}">{{repo.name}}</a></td>
            <td>{% if repo.has_issues %}<a href="{{repo.html_url}}/issues">{{repo.open_issues_count}}</a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
