{% extends 'base.html' %}
{% block title %}
{{ super () }} - Github
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Github Overview</h1>
  <p>Various numbers from the <a href="https://github.com/IATI">IATI github organisation</a>.</p>
</div>

<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Repositories</td>
            <td>{{github_stats.repositories}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
