<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
{% for year, year_cal in sorted(milestones_calendar.items()) %}
    <h2>{{year}}<h2>
    {% for month, month_cal in sorted(year_cal.items()) %}
        <h3>{{month}}</h3>
        {% for day, day_cal in sorted(month_cal.items()) %}
            {% for milestone in day_cal %}
            <div class="row">
                <div class="col-md-1">{{day}}</div>
                <div class="col-md-2">
                    <a href="https://github.com/IATI/{{ milestone.repo }}" class="badge">
                        {{ milestone.repo }}
                    </a>
                </div>
                <div class="col-md-1">{{ milestone.open_issues }}</div>
                <div class="col-md-1">{{ milestone.closed_issues }}/{{ milestone.open_issues + milestone.closed_issues }}</div>
                <div class="col-md-7">
                    <a href="https://github.com/IATI/{{ milestone.repo }}/issues?milestone={{ milestone.number }}&state=open">
                        {{ milestone.title }}
                    </a>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{%endfor %}
</div>
