{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Duplicate Activity Identifiers
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Duplicate Activity Identifiers</h1>
    </div>

    <div class="panel panel-default">
    <table class="table table-striped">
      <thead><tr>
        <th>Publisher</th>
        <th>Duplicate identifiers</th>
        <th>Instances of duplicate identifiers</th>
      </tr></thead>
      <tbody>
        {% for publisher, activities in current_stats.inverted_publisher.activities.items() %}
        {% set publisher_stats = get_publisher_stats(publisher) %}
        {% if publisher_stats.publisher_duplicate_identifiers|count != 0 %}
        <tr>
            <td><a href="publisher/{{publisher}}.html">{{publisher_name[publisher]}}</a></td>
            <td><a href="{{stats_url}}/current/aggregated-publisher/{{publisher}}/publisher_duplicate_identifiers.json">{{publisher_stats.publisher_duplicate_identifiers|length}}</td>
            <td><a href="{{stats_url}}/current/aggregated-publisher/{{publisher}}/publisher_duplicate_identifiers.json">{{publisher_stats.publisher_duplicate_identifiers.values()|sum}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div> 
{% endblock %}

