{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span style="font-weight:bold">{{current_stats.aggregated.activities}}</span> Activities</h3>
          </div>

          <div class="panel-body">
            <img src="activities.png" width="100%" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span style="font-weight:bold">{{current_stats.aggregated.publishers}}</span> Publishers </h3>
          </div>

          <div class="panel-body">
            <img src="publishers.png" width="100%" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span style="font-weight:bold">{{current_stats.aggregated.activity_files}}</span> Activity XML Files</h3>
          </div>

          <div class="panel-body">
            <img src="activity_files.png" width="100%" />
          </div>
        </div>
      </div>

    </div>
{% endblock %}
