{% extends 'section_index.html' %}
{% block about %}
<p>The dashboard is generated nightly from the IATI data on the registry. Specifics of the timing can be seen in the page footer, and <a href="https://github.com/IATI/IATI-Dashboard/blob/master/README.rst">technical details can be found on in the README</a>.</p>
<p>Many of the tables in the dashboard are sortable by clicking on the headers.</p>
<p>Many of the datasets in the dashboard are available in machine readable JSON format. Some links to JSON are abbreviated to <code>(J)</code>.</p>
{% endblock %}
{% block lhs_column %}
{{ super () }}
    
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Overview
        </h3>
      </div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <a href="activities.html">
                    {{current_stats.aggregated.activities}}
                    </a>
                </td>
                <td>Activities</td>
            </tr>
            <tr>
                <td>
                    <a href="activities.html">
                    {{current_stats.aggregated.iati_identifiers|count}}
                    </a>
                </td>
                <td>Unique Activities</td>
            </tr>
            <tr>
                <td>
                    <a href="publishers.html">
                    {{current_stats.aggregated.publishers}}
                    </a>
                </td>
                <td>Publishers</td>
            </tr>
            <tr>
                <td>
                    <a href="files.html">
                    {{current_stats.aggregated.activity_files}}
                    </a>
                </td>
                <td>Activity Files</td>
            </tr>
            <tr>
                <td>
                    <a href="files.html">
                    {{current_stats.aggregated.organisation_files}}
                    </a>
                </td>
                <td>Organisation Files</td>
            </tr>
            <tr>
                <td>
                    <a href="files.html">
                    {{current_stats.aggregated.file_size|filesizeformat}}
                    </a>
                </td>
                <td>Total File Size</td>
            </tr>
            <tr>
                <td>
                    <a href="download.html">
                    {{current_stats.download_errors|length}}
                    </a>
                </td>
                <td>Files Fail to Download</td>
            </tr>
            <tr>
                <td>
                    <a href="xml.html">
                    {{current_stats.aggregated.invalidxml}}
                    </a>
                </td>
                <td>Invalid XML Files</td>
            </tr>
            <tr>
                <td>
                    <a href="xml.html">
                    {{current_stats.aggregated.nonstandardroots}}
                    </a>
                </td>
                <td>Files with Nonstandard Roots</td>
            </tr>
            <tr>
                <td>
                    <a href="validation.html">
                    {{current_stats.aggregated.validation.fail}}
                    </a>
                </td>
                <td>Files don't validate against the schema</td>
            </tr>
            <tr>
                <td>
                    <a href="validation.html">
                    {{current_stats.aggregated.publishers_validation.fail}}
                    </a>
                </td>
                <td>Publishers have non-validating files</td>
            </tr>
            <tr>
                <td>
                    <a href="organisation.html">
                    {{current_stats.aggregated.publisher_has_org_file.no}}
                    </a>
                </td>
                <td>Publishers with no organisation file</td>
            </tr>
        </body>
    </table>
</div>

{% endblock %}
