{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="row">
      {{boxes.box('Activities', current_stats.aggregated.activities, 'activities.png')}}
      {{boxes.box('Publishers', current_stats.aggregated.publishers, 'publishers.png')}}
    </div>

    <div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Publisher</th>
                <th>Activities</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher, activities in current_stats.inverted.activities.items() %}
            <tr>
                <td><a href="http://iatiregistry.org/publisher/{{publisher}}">{{publisher}}</a></td>
                <td>{{activities}}</td>
                <td>{{current_stats.inverted.activity_files.get(publisher)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
