{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Organisation XML
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>Organisation XML Files</h1>
      <p class="lead"></p>
    </div>

    <div class="row">
      {{boxes.box('Publishers without an Organisation File', current_stats.aggregated.publisher_has_org_file.no, 'publisher_has_org_file.png', 'publisher_has_org_file.json')}}
      <div class="col-md-6">
        <div class="panel panel-default">
        <a href="{{stats_url}}/current/inverted-publisher/publisher_has_org_file.json">(J)</a>
        <table class="table table-bordered">
        <tr>
        {% for publisher in sorted(current_stats.inverted_publisher.publisher_has_org_file.no) %}
            {{ loop.cycle('</tr><tr>'|safe, '', '', '') }}
            <td><a href="publisher/{{publisher}}.html">{{publisher}}</a></td>
        {% endfor %}
        </tr>
        </table>
        </div>
      </div>
    </div>

{% endblock %}
