{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block content %}
    <div class="row">
      {{ boxes.box('Publishers without an Organisation File', current_stats.aggregated.publisher_has_org_file.no, 'publisher_has_org_file.png', 'publisher_has_org_file.json',
        description='Count of publishers without an organisation file, over time.') }}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="title-text">List of publishers without an Organisation File</span>
            </h3>
            <a href="{{ stats_url }}/current/inverted-publisher/publisher_has_org_file.json" style="float:right">(J)</a>
            <br clear="all"/>
          </div>
          <div class="panel-body">
            <p>The following publishers do not have an organisation file listed on the IATI Registry.</p>
            <ul>
            {% for publisher in sorted(current_stats.inverted_publisher.publisher_has_org_file.no) %}
              <li><a href="publisher/{{ publisher }}.html">{{ publisher_name[publisher] }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
