{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="row">
      {{boxes.box('Activities', current_stats.aggregated.activities, 'activities.png', 'activities.json')}}
      {{boxes.box('Publishers', current_stats.aggregated.publishers, 'publishers.png', 'publishers.json')}}
    </div>

    <p><a href="{{url('publishers.csv')}}">This table as CSV</a></p>

    <div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Publisher Name</th>
                <th>Publisher Registry Id</th>
                <th>Activities <a href="{{stats_url}}/current/inverted-publisher/activities.json">(J)</a></th>
                <th>Organisations <a href="{{stats_url}}/current/inverted-publisher/organisations.json">(J)</a></th>
                <th>Files <a href="#files_note">(*)</a></th>
                <th>Total File Size <a href="{{stats_url}}/current/inverted-publisher/file_size.json">(J)</a></th>
                <th>Reporting Orgs <a href="{{stats_url}}/current/inverted-publisher/reporting_orgs.json">(J)</a></th>
                <th>Data Tickets</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher, activities in current_stats.inverted_publisher.activities.items() %}
            {% set publisher_stats = get_publisher_stats(publisher) %}
            <tr>
                <td><a href="publisher/{{publisher}}.html">{{publisher_name[publisher]}}</a></td>
                <td><a href="publisher/{{publisher}}.html">{{publisher}}</a></td>
                <td>{{activities}}</td>
                <td>{{publisher_stats.organisations}}</td>
                <td>{{current_stats.inverted_publisher.activity_files.get(publisher)+current_stats.inverted_publisher.organisation_files.get(publisher)}}</td>
                <td data-bytes="{{current_stats.inverted_publisher.file_size.get(publisher)}}">{{current_stats.inverted_publisher.file_size.get(publisher)|filesizeformat}}</td>
                <td>{{publisher_stats.reporting_orgs|length}}</td>
                <td>{{data_tickets[publisher]|count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <p id="files_note">* Files is the sum of Activity Files <a href="{{stats_url}}/current/inverted-publisher/activity_files.json">(J)</a> and Organisation Files <a href="{{stats_url}}/current/inverted-publisher/organisation_files.json">(J)</a>.</p> 
{% endblock %}
{% block tablesorteroptions %}
{textExtraction:{5: function(node,table,cellIndex) { return $(node).attr('data-bytes'); }}}
{% endblock %}
