{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - Validation
{% endblock %}
{% block content %}
    <a href="{{stats_url}}/current/aggregated-publisher/{{publisher}}/" style="float:right">(Publisher Stats JSON)</a>

    <div class="page-header">
      <h1>Publisher: {{publisher_name[publisher]}}</h1>
      <p class="lead"></p>
    </div>

    <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title" id="list_fail_validation">Table of Contents</h3></div>
        <div class="panel-body">
            <ul>
                <li><a href="#h_headlines">Headlines</a>
                <li><a href="#h_dataquality">Data Quality</a>
                    <ul>
                        {% if publisher in data_tickets and data_tickets[publisher]|count %}
                        <li><a href="#p_datatickets">Data Tickets</a>
                        {% endif %}
                        {% if publisher in current_stats.inverted_file_grouped.validation.fail %}
                        <li><a href="#p_validation">Files Failing Validation</a>
                        {% endif %}
                        {% if 1 in publisher_inverted.invalidxml.values() %}
                        <li><a href="#p_invalid">Invalid XML Files</a>
                        {% endif %}
                        {% if 1 in publisher_inverted.nonstandardroots.values() %}
                        <li><a href="#p_nonstandardroots">Files with non-standard roots</a>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#h_financial">Financial</a></li>
                <li><a href="#h_exploringdata">Exploring Data</a>
                    <ul>
                        <li><a href="#p_files">Files</a>
                        <li><a href="#p_codelists">Codelist values</a>
                        <li><a href="#p_elements">Elements and Attributes published</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>

    <h2 id="h_headlines">Headlines</h2>

    <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>On the Registry</td>
                <td><a href="http://iatiregistry.org/publisher/{{publisher}}">{{publisher}}</a></td>
            </tr>
            <tr>
                <td>Reporting Org on Registry</td>
                <td>{% if ckan_publishers %}
                    <code>{{ckan_publishers[publisher].result.publisher_iati_id}}</code>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Reporting Org(s) in Data</td>
                <td>
                {% for org in publisher_stats.reporting_orgs%}
                <code>{{org|replace(' ', '&nbsp;')|safe}}</code>
                {% endfor %}
                </td>
            </tr><tr>
                <td>Activity Files</td>
                <td>{{publisher_stats.activity_files}}</td>
            </tr><tr>
                <td>Organisation Files</td>
                <td>{{publisher_stats.organisation_files}}</td>
            </tr><tr>
                <td>Total File Size</td>
                <td>{{publisher_stats.file_size|filesizeformat}}</td>
            </tr><tr>
                <td>Activities</td>
                <td>{{publisher_stats.activities}}</td>
            </tr><tr>
                <td>Unique Activities</td>
                <td>{{publisher_stats.iati_identifiers|count}}</td>
            </tr><tr>
                <td>Organisations</td>
                <td>{{publisher_stats.organisations}}</td>
            </tr><tr>
                <td>Versions</td>
                <td>
                {%for version in publisher_stats.versions.keys() %}
                <code>{{version|replace(' ', '&nbsp;')|safe}}</code>
                {%endfor%}
                </td>
            </tr><tr>
                <td>Hierarchies</td>
                <td>
                {%for hierarchy in publisher_stats.hierarchies %}
                <code>{{hierarchy}}</code>
                {%endfor%}
                </td>
            </tr><tr>
                <td>Licenses</td>
                <td>
                {%for license in publisher_licenses %}
                <code><a href="../license/{{license}}.html">{{license}}</a></code>
                {%endfor%}
                </td>
            </tr><tr>
                <td>Files failing validation</td>
                <td>
                {% if publisher in current_stats.inverted_file_grouped.validation.fail %}
                    {{current_stats.inverted_file_grouped.validation.fail[publisher]|length}}
                {% else %}
                    0
                {% endif %}
                </td>
            </tr>
        </body>
    </table>
    </div>
    </div>
    {{boxes.box('Activities', publisher_stats.activities, '../publisher_imgs/'+publisher+'_activities.png', publisher+'/activities.json', '', '-publisher')}}
    </div>

    <div class="row">
        {{boxes.box('Activity Files', publisher_stats.activity_files, '../publisher_imgs/'+publisher+'_activity_files.png', publisher+'/activity_files.json', '', '-publisher')}}
        {{boxes.box('Organisation Files', publisher_stats.organisation_files, '../publisher_imgs/'+publisher+'_organisation_files.png', publisher+'/organisation_files.json', '', '-publisher')}}
    </div>

    <div class="row">
        {{boxes.box('Versions per file', '', '../publisher_imgs/'+publisher+'_versions.png', publisher+'/versions.json', '../publisher_imgs/'+publisher+'_versions_legend.png', '-publisher')}}
        {{boxes.box('Total File Size', publisher_stats.file_size|filesizeformat, '../publisher_imgs/'+publisher+'_file_size.png', publisher+'/file_size.json', '', '-publisher')}}
    </div>

    <div class="row">
        {{boxes.box('Files failing validation', publisher_stats.validation.fail, '../publisher_imgs/'+publisher+'_validation.png', publisher+'/validation.json', '', '-publisher')}}
        {{boxes.box('Invalid XML Files', publisher_stats.invalidxml, '../publisher_imgs/'+publisher+'_invalidxml.png', publisher+'/invalidxml.json', '', '-publisher')}}
    </div>

    <h2 id="h_dataquality">Data Quality</h2>

    <p>This section will be blank if no issues were found.</p>

    <div class="row">
    {% if publisher in data_tickets and data_tickets[publisher]|count %}
    <div class="col-md-6">
        <div class="panel panel-default" id="p_datatickets">
          <div class="panel-heading"><h3 class="panel-title" id="list_fail_validation">Data Tickets</h3></div>

          <table class="table">
            {% for issue in data_tickets[publisher] %}
            <tr>
                <td><a href="http://data.tickets.iatistandard.org/ticket/{{issue.id}}">{{issue.status}}</a></td>
                <td><a href="http://data.tickets.iatistandard.org/ticket/{{issue.id}}">{{issue.summary}}</a></td>
                <td><a href="http://data.tickets.iatistandard.org/ticket/{{issue.id}}">{{issue.component}}</a></td>
                <td><a href="http://data.tickets.iatistandard.org/ticket/{{issue.id}}">{{issue.element}}</a></td>
                <td><a href="http://data.tickets.iatistandard.org/ticket/{{issue.id}}">{{issue.owner}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}

    {% if publisher in current_stats.inverted_file_grouped.validation.fail %}
    <div class="col-md-6">
        <div class="panel panel-default" id="p_validation">
          <!-- Default panel contents -->
          <div class="panel-heading"><h3 class="panel-title" id="list_fail_validation">Files Failing Validation</h3></div>
          <!--<div class="panel-body">
            <p>...</p>
          </div>-->

          <!-- List group -->
          <ul class="list-group">
            {% for dataset in current_stats.inverted_file_grouped.validation.fail[publisher] %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 break">
                  <a href="http://iatiregistry.org/dataset/{{dataset}}">{{dataset}}</a>
                </div>
                <div class="col-md-6 break">
                  {% if publisher in ckan and dataset in ckan[publisher] %}
                  <a href="{{ckan[publisher][dataset].resource.url}}">{{ckan[publisher][dataset].resource.url|url_to_filename}}</a>
                  {% endif %}
                </div>
                <div class="col-md-2 break">
                   {% if publisher in ckan and dataset in ckan[publisher] %}
                   <a href="http://validator.iatistandard.org/?url={{ckan[publisher][dataset].resource.url|urlencode}}">validator</a>
                   {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
    {% endif %}

    {% if 1 in publisher_inverted.invalidxml.values() %}
    <div class="col-md-6">
    <div class="panel panel-default" id="p_invalid">
    <div class="panel-heading">
        <a href="{{stats_url}}/current/inverted-file-publisher/{{publisher}}/invalidxml.json" style="float:right">(J)</a>
        <h3 class="panel-title">Invalid XML Files</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dataset</th>
            </tr>
        </thead>
        <tbody>
            {% for dataset, invalid in publisher_inverted.invalidxml.items() %}
            {% if invalid %}
            <tr>
                <td><a href="http://iatiregistry.org/dataset/{{dataset}}">{{dataset}}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    {% endif %}

    {% if 1 in publisher_inverted.nonstandardroots.values() %}
    <div class="col-md-6">
    <div class="panel panel-default" id="p_nonstandardroots">
    <table class="table table-striped">
    <div class="panel-heading">
        <a href="{{stats_url}}/current/inverted-file/{{publisher}}/nonstandardroots.json" style="float:right">(J)</a>
        <h3 class="panel-title">Files with non-standard roots</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dataset</th>
            </tr>
        </thead>
        <tbody>
            {% for dataset, nonstandard in publisher_inverted.nonstandardroots.items() %}
            {% if nonstandard %}
            <tr>
                <td><a href="http://iatiregistry.org/dataset/{{dataset}}">{{dataset}}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    {% endif %}

    </div><!-- .row -->

    <h2 id="h_financial">Financial</h2>

    {% macro currency_value(d) %}
    {% if d %}
    {% for currency, value in d.items() %}
    {% if value!=None %}
    {{value}} {{currency}}</br>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endmacro %}

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Budgets</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Count (all)</th>
                <th>Sum (all)</th>
                <th>Count (Original)</th>
                <th>Sum (Original)</th>
                <th>Count (Revised)</th>
                <th>Sum (Revised)</th>
            </tr>
        </thead>
        <tbody>
        {% for row in budget_table %}
            <tr>
                <td>{{row.year}}</td>
                <td>{% if row.count_total %}{{row.count_total}}{% endif %}</td>
                <td>{% if row.sum_total %}{{currency_value(row.sum_total)}}{% endif %}</td>
                <td>{% if row.count_original %}{{row.count_original}}{% endif %}</td>
                <td>{{currency_value(row.sum_original)}}</td>
                <td>{% if row.count_revised %}{{row.count_revised}}{% endif %}</td>
                <td>{{currency_value(row.sum_revised)}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <h2 id="h_exploringdata">Exploring Data</h2>

    <div class="panel panel-default" id="p_files">
    <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Package</th>
                <th>Activities <a href="{{stats_url}}/current/inverted-file/{{publisher}}/activities.json">(J)</a></th>
                <th>Organisations <a href="{{stats_url}}/current/inverted-file/{{publisher}}/organisations.json">(J)</a></th>
                <th>File Size <a href="{{stats_url}}/current/inverted-file/{{publisher}}/file_size.json">(J)</a></th>
                <th>Version <a href="{{stats_url}}/current/inverted-file-publisher/{{publisher}}/versions.json">(J)</a></th>
                <th><a href="../rulesets.html">Standard Ruleset</a> <a href="{{stats_url}}/current/inverted-file-publisher/{{publisher}}/ruleset_passes.json">(J)</a></th>
            </tr>
        </thead>
        <tbody>
            {% for package, activities in publisher_inverted.activities.items() %}
            <tr>
                <td class="break"><a href="http://iatiregistry.org/dataset/{{package}}">{{package}}</a></td>
                <td>{{activities}}</td>
                <td>{{current_stats.inverted_file.organisations.get(package)}}</td>
                <td data-bytes="{{current_stats.inverted_file.file_size.get(package)}}">{{current_stats.inverted_file.file_size.get(package)|filesizeformat}}</td>
                <td>{{current_stats.aggregated_file[publisher][package]['versions'].keys()[0]}}</td>
                <td>
                    {% if package in current_stats.inverted_file.ruleset_passes.standard and current_stats.inverted_file.activities[package] > 0 %}
                      {% if publisher in ckan and dataset in ckan[publisher] %}
                        <a href="http://dev.validator.iatistandard.org/?test=rulesets&url={{ckan[publisher][package].resource.url|urlencode}}">
                      {% endif %}
                        {{100.0*current_stats.inverted_file.ruleset_passes.standard[package]/current_stats.inverted_file.activities[package]}}
                      {% if publisher in ckan and dataset in ckan[publisher] %}
                        </a>
                      {% endif %}
                    {% endif %}
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="panel panel-default" id="p_codelists">
    <table class="table table-striped">
    <div class="panel-heading">
        <a href="{{stats_url}}/current/aggregated/{{publisher}}/codelist_values.json" style="float:right">(J)</a>
        <h3 class="panel-title">Codelist Values</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Element/Attribute</th>
                <th>Codelist</th>
                <th>Values on Codelist</th>
                <th>Values not on Codelist</th>
            </tr>
        </thead>
        <tbody>
            {% for element, values in publisher_stats.codelist_values.items() %}
            <tr>
            {% with element_i=current_stats.inverted_publisher.codelist_values.keys().index(element) %}
                <td><a href="{{url('codelist/{0}.html'.format(slugs.codelist.by_i[element_i]))}}">{{element}}</a></td>
                <td><a href="http://iatistandard.org/codelists/{{codelist_mapping.get(element)}}">{{codelist_mapping.get(element)}}</a></td>
                {% with codes=sorted(codelist_sets.get(codelist_mapping.get(element)).intersection(values.keys())) %}
                <td>{% if codes|count %}
                    <a href="javascript: return false;" class="popover-html" title="Values on codelist for {{element}}" data-content="{% for code in codes %}<code>{{code}}</code> {% endfor %}">{{codes|count}}</a>
                    {%else%}{{codes|count}}{%endif%}
                </td>
                {% endwith %}
                {% with codes=sorted(set(values.keys()).difference(codelist_sets.get(codelist_mapping.get(element)))) %}
                <td>{% if codes|count %}
                    <a href="javascript: return false;" class="popover-html" title="Values not on codelist for {{element}}" data-content="{% for code in codes %}<code>{{code}}</code> {% endfor %}">{{codes|count}}</a></td>
                    {%else%}{{codes|count}}{%endif%}
                {% endwith %}
            {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="panel panel-default" id="p_elements">
    <table class="table table-striped">
    <div class="panel-heading">
        <a href="{{stats_url}}/current/aggregated/{{publisher}}/elements.json" style="float:right">(J)</a>
        <h3 class="panel-title">Elements and Attributes Published</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Element/Attribute</th>
                <th>Activities/Organisations</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            {% for element, count in publisher_stats.elements.items() %}
            <tr>
            {% with element_i=current_stats.inverted_publisher.elements.keys().index(element) %}
                <td><a href="{{url('element/{0}.html'.format(slugs.element.by_i[element_i]))}}">{{element}}</a></td>
                <td>{{count}}</td>
                <td><a href="{{url('element/{0}.html'.format(slugs.element.by_i[element_i]))}}#files_{{publisher}}">{{publisher_inverted.elements[element]|count}}</a></td>
            {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

{% block extrafooter %}
    <script>
$('.popover-html').popover({
  html: true
})
    </script>
{% endblock %}

