{% extends 'section_index.html' %}
{% block about %}
<p>The statistics on IATI data that are calculated routinely and displayed here allow publishers to better understand how to improve their data, and allow users to assess which data is likely to meet their particular needs.</p>

<p>Each of the pages in this section contains:</p>

<ul>
<li>a non-technical narrative explaining the thinking and methodology behind each dimension</li>
<li>a link to the IATI Consultation Forum where the methodology can be queried or challenged</li>
<li>pseudo-code, for technical readers, to explain in more detail the machine logic involved</li>
<li>a table of statistics - for all IATI publishers - that are used to derive an assessment</li>
<li>an assessment that interprets the statistics into a meaningful summary</li>
</ul>

<p>The statistics on these pages are refreshed frequently. The methodology is open to inspection and will be changed in response to feedback and discussion.</p>

<p>The overriding concern of the Technical Team is that the methodologies being tested here gain buy-in from our members and publishers so that they can be used as a credible benchmark in improving the quality of IATI data.</p>

{% endblock about %}
