{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block content %}

<div class="row">
<div class="col-xs-12">
<p>Looking up reporting org identifiers against the registration agency codelist.</p>

<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">
    Registration Agencies in Data
  </h3>
</div>
<table class="table table-striped">
  <thead><tr>
    <th>Registration Agency</th>
    <th>Identifiers</th>
    <th>Publishers</th>
  </tr></thead>
  <tbody>
{% for registration_agency, count in sorted(registration_agencies.items()) %}
    <tr>
        <td>{{registration_agency}}</td>
        <td>{{count}}</td>
        <td>{{registration_agencies_publishers[registration_agency]|count}}</td>
    </tr>
{% endfor %}
  <tbody>
</table>
</div>

<br/>
<br/>

<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">
    Reporting Org Identifiers that don't match registration agencies
  </h3>
</div>
<table class="table table-striped">
  <thead><tr>
    <th>Identifier</th>
    <th>Publisher</th>
    <th>Publisher Registry Id</th>
    <th>Count</th>
  </tr></thead>
  <tbody>
{% for orgid, publishers in nonmatching %}
{% for publisher, count in publishers.items() %}
    <tr>
        <td><code>{{orgid|replace(' ', ' ')}}</code></td>
        <td><a href="publisher/{{publisher}}.html">{{publisher}}</a></td>
        <td><a href="publisher/{{publisher}}.html">{{publisher_name[publisher]}}</a></td>
        <td>{{count}}</td>
    </tr>
{% endfor %}
{% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
