{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes %}
{% block content %}
<div class="row">
<div class="col-xs-12">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Inconsistent Reporting Org references
      </h3>
    </div>
    <div class="panel-body">
      <p>List of Publishers where the reporting-org element does not match the reporting-org field in the IATI Registry.</p>
      {% include '_partials/tablesorter_instructions.html' %}
    </div>
    <table class="table table-striped">
      <thead><tr>
        <th>Publisher</th>
        <th>Reporting Org on Registry</th>
        <th>Reporting Orgs in Data (count)</th>
        <th>Reporting Orgs in Data</th>
      </tr></thead>
      <tbody>
        {% for publisher_title,publisher in publishers_ordered_by_title %}
        {% set publisher_stats = get_publisher_stats(publisher) %}
        {% set reporting_orgs_key = publisher_stats.reporting_orgs.keys()|first %}
        {% if publisher_stats.reporting_orgs|count != 1 or reporting_orgs_key != ckan_publishers[publisher].result.publisher_iati_id %}
        <tr>
            <td><a href="publisher/{{ publisher }}.html">{{ publisher_title }}</a></td>
            <td><code>{{ ckan_publishers[publisher].result.publisher_iati_id }}</code></td>
            <td>{{ publisher_stats.reporting_orgs|length }}</td>
            <td>{% for ro in publisher_stats.reporting_orgs %}<code>{{ ro }}</code> {% endfor %}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>
</div>
{% endblock %}

