{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="panel panel-default">
    <div class="panel-body">
        <p>Percentage of activities per publisher that pass the IATI Ruleset.</p>
    </div>
    <table class="table table-striped">
      <thead><tr>
        <th>Publisher</th>
        <th>Standard (%)</th>
      </tr></thead>
      <tbody>
        {% for publisher, passes in current_stats.inverted_publisher.ruleset_passes.standard.items() %}
        <tr>
          <td class="break"><a href="publisher/{{publisher}}.html">{{publisher_name[publisher]}}</a></td>
          <td><a href="publisher/{{publisher}}.html#p_files">{{100.0*passes/(current_stats.inverted_publisher.activities[publisher]+current_stats.inverted_publisher.organisations[publisher])}}</a></td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    </div> 
{% endblock %}

