{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="timeliness.html">Frequency</a></li>
      <li><a href="timeliness_timelag.html">Time lag</a></li>
    </ul>

    <h2 id="h_frequency">Frequency</h2>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Narrative</h3>
    </div>
    <div class="panel-body">
        <p>The frequency statistics attempt to assess how often any part of a publisher's data is substantively updated.</p>

        <p>For the purposes of these statistics an update is assumed to have taken place on any given day when the most recently recorded transaction date (across a publisher's entire portfolio) is observed to have changed to a more recent date. This approach has been adopted as transactions are the most numerous and most frequently updated elements in the reporting of activities.</p> 

        <p>The table of statistics records the number of days in each of the last twelve calendar months (excluding the current month) on which the most recently recorded transaction date was observed to have changed. The dashboard maintains a statistical snapshot of each day, and has been doing so for over a year, which allows for this data to be recalculated on a nightly basis using historical recordings.</p>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Assessment</h3>
    </div>
    <div class="panel-body">
        <h4>For publishers of 1 year or more</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>9 of the last 12 months</td>
        <td>Monthly</td>
        </tr>
        <tr>
        <td>3 of the last 4 quarters</td>
        <td>Quarterly</td>
        </tr>
        <tr>
        <td>2 of the last 6 months</td>
        <td>Six-monthly</td>
        </tr>
        <tr>
        <td>1 of the last 12 months</td>
        <td>Annual</td>
        </tr>
        <tr>
        <td>None of the last 12 months</td>
        <td>Less than annual</td>
        </tr>
        </tbody>
        </table>
        <h4>For publishers of six months or more</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        <tr>
        </thead>
        <tbody>
        <td>4 of the last 6 months</td>
        <td>Monthly</td>
        </tr>
        <tr>
        <td>2 of the last 2 quarters</td>
        <td>Quarterly</td>
        </tr>
        <tr>
        <td>1 of the last 11 months</td>
        <td>Annual</td>
        </tr>
        </tbody>
        </table>
        <h4>For publishers of three months or more</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>3 of the last 3 months</td>
        <td>Monthly</td>
        </tr>
        <tr>
        <td>1 of the last 5 months</td>
        <td>Annual</td>
        </tr>
        </tbody>
        </table>
        <h4>For publishers of less than 3 months</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1 of the last 3 months</td>
        <td>Annual</td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>

    <div class="panel panel-default" id="future_transactions">
    <div class="panel-heading">
        <h3 class="panel-title">Exceptions</h3>
    </div>
    <div class="panel-body">
        <p>Future transaction dates are not allowed in IATI and disrupt these statistics. For example a publisher might today have a transaction date reported for each month going forward for a year and never refresh their data. The statistics would, over the next year, as each of these future dates move into the past, assess the publisher to have a time-lag assessment of one month in arrears. For this reason not only are all future dates excluded, but the activities in which they are reported are excluded from future assessment until such time that a publisher's entire portfolio no longer contains any future dates.</p>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comparison with Global Partnership Indicator methodology</h3>
    </div>
    <div class="panel-body">
        <p>This methodology is substantially different.

        <p>In the Indicator methodology the IATI Registry log dates were analysed to assess when updates had been made. This approach was flawed for two reasons:</p>

        <ul>
        <li>Firstly, following an upgrade to the underlying software platform on which the IATI Registry is hosted it was no longer possible for a machine to reliably calculate when data were actually updated.</li>
        <li>Secondly, the Registry would log any change, no matter how trivial. A spelling correction, for example, would count as an update. Similarly if a publisher's file was inaccessible one night, its reappearance the following night would count as an update.</li>
        </ul>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comment</h3>
    </div>
    <div class="panel-body">
        <p>To comment on this methodology, please use <a href="http://support.iatistandard.org/entries/59975175-Frequency">this page on the support forum</a>.</p>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pseudocode</h3>
    </div>
    <div class="panel-body">
        <p>To get a count of updates by calendar month:</p>
<pre>
For data captured each day over the past year
    For each transaction (of any type) in a publisher's data
        Check if the activity is blacklisted [TODO]
        Get the transaction date as follows:
            If transaction-date exists
                If transaction-date/@iso-date exists
                    Use transaction-date/@iso-date
                Else
                    Use transaction-date/text()
            Else if value/@value-date exists
                Use value/@value-date
            Else the transaction is ignore
        Parse the start of the transaction date as an iso date (yyyy-mm-dd...).
            If it does not match, the transaction is ignored.
        Store a record of this transaction date.
    Of the recorded dates, find the latest date that is on or before the date the data was captured.
    Record this date against the date of data capture
previous transaction date = 0001-01-01
Loop over the list of dates
    If transaction date > previous transaction date
        previous transaction date = transaction date
        Record an update as having happened on this day
Count the updates by calendar month
</pre>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Frequency</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        {% set summary = timeliness.publisher_frequency_summary() %}
        {% for assessment, count in timeliness.sort_first(summary.items(), timeliness.frequency_index) %}
            <tr>
                <td>{{assessment}}</td>
                <td>{{count}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{summary.values()|sum}}</td>
            </tr>
    </table>
    </div>

    <p style="float:right"><a href="{{url('timeliness_frequency.csv')}}">(This table as CSV)</a></p>


    <table class="table table-striped" id="main_table">
        <thead>
            <tr>
                <th style="border: 1px solid gray;" rowspan="2">Publisher Name</td>
                <th style="border: 1px solid gray;" colspan="{{13-timeliness.this_month_number}}">{{timeliness.this_year-1}}</td>
                <th style="border: 1px solid gray;" colspan="{{timeliness.this_month_number}}">{{timeliness.this_year}}</td>
                <th style="border-left: 1px solid gray; border-top: 1px solid gray; border-bottom: 1px solid gray;" rowspan="2>"</td>
                <th style="border-right: 1px solid gray; border-top: 1px solid gray; border-bottom: 1px solid gray;" rowspan="2">Frequency</td>
            </tr>
            <tr>
                {% for month in timeliness.previous_months_reversed %}
                <td style="border-top: 1px solid gray; border-bottom: 1px solid gray;">{{timeliness.short_month(month)}}</td>
                {% endfor %}
                <td style="border: 1px solid gray;">{{timeliness.short_month(timeliness.this_month)}}</td>
            </tr>
        </thead>
        <tbody>
            {% for publisher, publisher_title, per_month, assessment in timeliness.publisher_frequency_sorted() %}
            <tr>
                <td style="border-right: 1px solid gray; border-left: 1px solid gray;"><a href="publisher/{{publisher}}.html">{{publisher_title}}</a></td>
                {% for month in timeliness.previous_months_reversed %}
                <td {% if not per_month[month] %}class="text-muted"{% endif %}>{{per_month[month] or 0}}</td>
                {% endfor %}
                <td style="border-left: 1px solid gray">{{per_month[timeliness.this_month]}}</td>
                <td style="border-left: 1px solid gray" {% if publisher|has_future_transactions %}class="danger"><a href="#future_transactions">*</a>{% else %}>{% endif %}</td>
                <td style="border-right: 1px solid gray" data-index="{{timeliness.frequency_index(assessment)}}">{{assessment}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block tablesorteroptions %}{ widgets: ['stickyHeaders'], textExtraction:{15: function(node,table,cellIndex) { return $(node).attr('data-index'); }}}{% endblock %}
{% block tablesortertarget %}table#main_table{% endblock %}

