{% extends 'timeliness_base.html' %}
{% import '_partials/boxes.html' as boxes %}

{% block frequency_li %} class="active"{% endblock %}

{% block content %}
    <div class="panel panel-default" id="h_table">

        <div class="panel-heading">
            <span class="pull-right"><a href="{{ url('timeliness_frequency.csv') }}">(This table as CSV)</a></span>
            <h3 class="panel-title">Table of Frequency assessments</h3>
        </div>



        <div class="panel-body">
            <p>This table seeks to measure how often a publisher updates their data. There is no simple answer as to what constitutes an update. Can any trivial edit be regarded as an update? As transactions are the most numerous element reported in IATI the adopted methodology assumes that a publisher has updated their data if a transaction with a more recent transaction date than previously published is detected across the publisher's entire portfolio. </p>

            <p>The table records the number of days in each of the last twelve months on which the most recently recorded transaction date was observed to have changed. (The current month is also displayed for informational purposes, but is not used in the assessment.) </p>

            <p><strong>Key:</strong><br/>
            <span style="background-color: #f2aaaa">Red flag</span>: Publisher currently publishing future transaction dates.<br/>
            <span style="background-color: #fcf8aa">Yellow flag</span>: Publisher not currently publishing future transaction dates, but did report future transactions at some point in the last twelve calendar months (See exceptions).</p>

            <p>You are invited to participate in the ongoing consultation on publisher statistics and the summary statistics which is taking place on the <a href="http://discuss.iatistandard.org/c/consultations">IATI Discussion Forum</a></p>
            {% include '_partials/tablesorter_instructions.html' %}
        </div>

        <table class="table table-striped" id="main_table">
            <thead>
                <tr>
                    <th style="border: 1px solid gray; vertical-align:middle;" rowspan="2">Publisher Name</td>
                    <th style="border: 1px solid gray; vertical-align:middle;" rowspan="2">First published</td>
                    <th style="border: 1px solid gray;" colspan="{{ 13-timeliness.this_month_number }}">{{ timeliness.this_year-1 }}</td>
                    <th style="border: 1px solid gray;" colspan="{{ timeliness.this_month_number }}">{{ timeliness.this_year }}</td>
                    <th style="border-left: 1px solid gray; border-top: 1px solid gray; border-bottom: 1px solid gray;" rowspan="2"></td>
                    <th style="border-right: 1px solid gray; border-top: 1px solid gray; border-bottom: 1px solid gray; vertical-align:middle;" rowspan="2">Frequency</td>
                </tr>
                <tr>
                    {% for month in timeliness.previous_months_reversed %}
                    <td style="border-top: 1px solid gray; border-bottom: 1px solid gray;">{{ timeliness.short_month(month) }}</td>
                    {% endfor %}
                    <td style="border: 1px solid gray;">{{ timeliness.short_month(timeliness.this_month) }}</td>
                </tr>
            </thead>
            <tbody>
                {% for publisher, publisher_title, per_month, assessment, hft, first_published_band in timeliness.publisher_frequency_sorted() %}
                <tr{% if loop.last %} style="border-bottom: 1px solid gray;"{% endif %}>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;"><a href="publisher/{{ publisher }}.html">{{ publisher_title }}</a></td>
                    <td data-index="{{ timeliness.first_published_band_index(first_published_band) }}" style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ first_published_band }}</td>
                    {% for month in timeliness.previous_months_reversed %}
                    <td {% if not per_month[month] %}class="text-muted"{% endif %}>{{ per_month[month] or 0 }}</td>
                    {% endfor %}
                    <td style="border-left: 1px solid gray" {% if not per_month[timeliness.this_month] %}class="text-muted"{% endif %}>{{ per_month[timeliness.this_month] or 0 }}</td>
                    <td style="border-left: 1px solid gray{% if hft %};background-color: {{ '#f2aaaa' if hft==2 else '#fcf8aa' }}{% endif %}" data-severity="{{ hft }}">{% if hft %}<a href="#h_exceptions">*</a>{% endif %}</td>
                    <td style="border-right: 1px solid gray" data-index="{{ timeliness.frequency_index(assessment) }}">{{ assessment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="panel panel-default" id="h_summary">
    <div class="panel-heading">
        <h3 class="panel-title">Summary of Publisher Performance</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Frequency</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        {% set summary = timeliness.publisher_frequency_summary() %}
        {% for assessment, count in timeliness.sort_first(summary.items(), timeliness.frequency_index) %}
            <tr>
                <td>{{ assessment }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{ summary.values()|sum }}</td>
            </tr>
    </table>
    </div>



    <div class="panel panel-default" id="h_narrative">
    <div class="panel-heading">
        <h3 class="panel-title">Narrative</h3>
    </div>
    <div class="panel-body">
        <p>The frequency statistics attempt to assess how often any part of a publisher's data is substantively updated.</p>

        <p>For the purposes of these statistics an update is assumed to have taken place on any given day when the most recently recorded transaction date across a publisher's entire portfolio is observed to have changed to a more recent date. This approach has been adopted as transactions are the most numerous and most frequently updated elements in the reporting of activities.</p>

        <p>The table of statistics records the number of days in each of the last twelve calendar months (the current month is also displayed for informational purposes, but is not used in the assessment) on which the most recently recorded transaction date was observed to have changed. A daily statistical snapshot is maintained, which allows for this data to be recalculated using historical recordings.</p>
    </div>
    </div>



    <div class="panel panel-default" id="h_assesment">
    <div class="panel-heading">
        <h3 class="panel-title">Assessment</h3>
    </div>
    <div class="panel-body">
        <p>To assess these statistics one also has to take into account how long a publisher has been publishing to IATI. This is calculated based on when a publisher first appeared in the statistical snapshot.</p>
        <p>These statistics are then assessed as follows:</p>

        <h4>For publishers of 1 year or more</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>7 or more of the past 12 full months AND data updated at least once in last 2 full months</td>
        <td>Monthly</td>
        </tr>
        <tr>
        <td>3 or more of the past 12 full months AND data updated at least once in last 4 full months</td>
        <td>Quarterly</td>
        </tr>
        <tr>
        <td>2 of the last 6 month periods</td>
        <td>Six-monthly</td>
        </tr>
        <tr>
        <td>1 of the last 12 months</td>
        <td>Annual</td>
        </tr>
        <tr>
        <td>None of the last 12 months</td>
        <td>Less than annual</td>
        </tr>
        </tbody>
        </table>

        <h4>For publishers of six months or more</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        <tr>
        </thead>
        <tbody>
        <td>4 of the last 6 months</td>
        <td>Monthly</td>
        </tr>
        <tr>
        <td>2 of the last 2 quarters</td>
        <td>Quarterly</td>
        </tr>
        <tr>
        <td>1 of the last 12 months</td>
        <td>Annual</td>
        </tr>
        </tbody>
        </table>

        <h4>For publishers of three months or more</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>3 of the last 3 months</td>
        <td>Monthly</td>
        </tr>
        <tr>
        <td>1 of the last 6 months</td>
        <td>Annual</td>
        </tr>
        </tbody>
        </table>

        <h4>For publishers of less than 3 months</h4>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>Updates reported in ...</td>
        <th>Assessment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1 of the last 3 months</td>
        <td>Annual</td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>



    <div class="panel panel-default" id="h_exceptions">
        <div class="panel-heading">
            <h3 class="panel-title">Exceptions</h3>
        </div>
        <div class="panel-body">
            <p>Future transaction dates disrupt these statistics. For example a publisher might today report a transaction date for each month for the next year and never refresh their data. Over the next year, as each of these future dates move into the past, the statistics would incorrectly give the publisher a frequency assessment of monthly, even though they did not refresh their data.</p>

            <p><strong>Future transaction dates may affect the assessments on this page</strong>. Publishers who currently have future transaction dates have a <span style="background-color: #f2aaaa">red flag</span> next to their assessment. A <span style="background-color: #fcf8aa">yellow flag</span> indicates that although a publisher does not currently have future transactions, they did report future transactions at some point over the last twelve calendar months.</p>

            <p>We plan to exclude activities in which future transactions dates are reported from these assessments until such time that a publisher's entire portfolio no longer contains any future dates.</s></p>
        </div>
    </div>



    <div class="panel panel-default" id="h_comparison">
    <div class="panel-heading">
        <h3 class="panel-title">Comparison with original Global Partnership Indicator methodology</h3>
    </div>
    <div class="panel-body">
        <p>This methodology is substantially different.

        <p>In the original Indicator methodology the IATI Registry log dates were analysed to assess when updates had been made. This approach was flawed as the Registry logs record any change, no matter how trivial. A spelling correction, for example, would count as an update. Similarly if a publisher's file was inaccessible, its reappearance would count as an update.</p>
    </div>
    </div>



    <div class="panel panel-default" id="h_pseudocode">
    <div class="panel-heading">
        <h3 class="panel-title">Pseudocode</h3>
    </div>
    <div class="panel-body">
        <p>To get a count of updates by calendar month (for a given publisher):</p>
<pre>
For data captured each day over the past year
    For each transaction (of any type) in the publisher's data
        Get the transaction date as follows:
            If transaction-date exists
                If transaction-date/@iso-date exists
                    Use transaction-date/@iso-date
                Else
                    Use transaction-date/text()
            Else if value/@value-date exists
                Use value/@value-date
            Else the transaction is ignore
        Parse the start of the transaction date as an iso date (yyyy-mm-dd...).
            If it does not match, the transaction is ignored.
        Store a record of this transaction date.
    Of the recorded dates, find the latest date that is on or before the date the data was captured.
    Record this date against the date of data capture
previous transaction date = 0001-01-01
Loop over the list of dates
    If transaction date > previous transaction date
        previous transaction date = transaction date
        Record an update as having happened on this day
Count the updates by calendar month
</pre>
    </div>
    </div>
{% endblock %}

{% block tablesorteroptions %}
{
    widgets: ['stickyHeaders'],
    textExtraction: {
        1: function(node, table, cellIndex) {
            return $(node).attr('data-index');
        },
        15: function(node, table, cellIndex) {
            return $(node).attr('data-severity');
        },
        16: function(node, table, cellIndex) {
            return $(node).attr('data-index');
        }
    }
}
{% endblock %}
