{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block title %}
{{ super () }} - XML Errors
{% endblock %}
{% block content %}
    <div class="page-header">
      <h1>XML Errors</h1>
      <p>Note that "Invalid XML" here means XML that is not even well formed, not <a href="validation.html">validation against the schema</a>.</p>
      <p>Files with non-standard roots are those where the root XML element is not <code>iati-activities</code> or <code>iati-organisation</code> as we would expect.</p>
    </div>

    <div class="row">
      {{boxes.box('Invalid XML files', current_stats.aggregated.invalidxml, 'invalidxml.png')}}
      {{boxes.box('Files with non-standard roots', current_stats.aggregated.nonstandardroots, 'nonstandardroots.png')}}
    </div>

    <div class="row">
    
    <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Invalid XML Files</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dataset</th>
            </tr>
        </thead>
        <tbody>
            {% for dataset, invalid in current_stats.inverted_file.invalidxml.items() %}
            {% if invalid %}
            <tr>
                <td><a href="http://iatiregistry.org/dataset/{{dataset}}">{{dataset}}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    <div class="col-md-6">
    <div class="panel panel-default">
    <table class="table table-striped">
    <div class="panel-heading">
        <h3 class="panel-title">Files with non-standard roots</h3>
    </div>
        <thead>
            <tr>
                <th>Dataset</th>
            </tr>
        </thead>
        <tbody>
            {% for dataset, nonstandard in current_stats.inverted_file.nonstandardroots.items() %}
            {% if nonstandard %}
            <tr>
                <td><a href="http://iatiregistry.org/dataset/{{dataset}}">{{dataset}}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    </div>
{% endblock %}
