{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}

    <ul class="list-inline" style="padding: 1em">
        <li><a href="#h_table">Table</a></li>
        <li>|</li>
        <li><a href="#h_narrative">Narrative</a></li>
        <li>|</li>
        <li><a href="#h_exceptions">Exceptions</a></li>
        <li>|</li>
        <li><a href="#h_comment">Comment</a></li>  
    </ul>

    <div class="panel panel-default" id="h_table">
        <div class="panel-heading">
            <h3 class="panel-title">Table of Coverage values</h3>     
        </div>
        
        
        <div class="panel-body">
            <p>When assessing the overall quality of a publisher's data it is necessary to judge both breadth and depth. The previous dimensions have assessed the breadth. The Coverage dimension in this table assesses the depth by showing what proportion of an organisation's total output is published through IATI. For each publisher, the total spend published to IATI for a given year is compared with an external source. The resulting spend ratios are used to adjust the scores for the other dimensions using the following scale of coverage: Excellent: 80% or over (adjustment factor 100%); Good: 60 – 80% (adjustment factor 80%); Fair: 40 – 60% (adjustment factor 60%); and Poor: less than 40% (adjustment factor 40%).</p>

            <p>As IATI is a multi-stakeholder initiative representing a range of organisation types, there is no single source for this comparison: the OECD DAC provides comparison for DAC-reporting bilaterals; the UN System Chief Executives Board for Coordination reports UN agency expenditures; INGOs and foundations publish annual reports, usually with audited financial statements. The IATI technical team has been working to pull these disparate sources together into a single table for use here.</p>

            <p><strong>Key:</strong><br/>
            <span style="background-color: #f2aaaa">Red flag</span>: The IATI technical team have not yet located reference data for this publisher. Therefore they have been given a coverage ratio of 50%.<br/>
            <span style="background-color: #fcf8aa">Yellow flag</span>: The IATI technical team have identified a data quality issue for this publisher, which has been reported to them directly. Therefore they have been given a coverage ratio of 20%.</p>

            {% include 'tablesorter_instructions.html' %}
        </div>
        
        <table class="table table-striped" id="main_table">
            <thead>
                <tr>
                    <th style="vertical-align:middle; border: 1px solid gray;">Publisher Name</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">2014<br/>IATI Spend (US $m)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">2015<br/>IATI Spend (US $m)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">2014<br/>Reference Spend<br/> (US $m)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">2015<br/>Reference Spend<br/> (US $m)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">2015<br/>Official Forecast<br/> (US $m)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">Spend Ratio<br/> (%)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;">Coverage<br/> (%)</th>
                    <th style="vertical-align:middle; border: 1px solid gray;"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in coverage.table() %}
                <tr {% if loop.last %} style="border-bottom: 1px solid gray;"{% endif %}>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;"><a href="publisher/{{row.publisher}}.html">{{row.publisher_title}}</a></td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.iati_spend_2014 }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.iati_spend_2015 }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.reference_spend_2014 }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.reference_spend_2015 }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.official_forecast_2015 }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.spend_ratio }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;">{{ row.coverage_adjustment }}</td>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray{% if row.no_data_flag or row.spend_data_error_reported_flag %}; background-color: {{ '#f2aaaa' if row.no_data_flag else '#fcf8aa'}}{% endif %}" data-severity="{{ row.sort_order }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="panel panel-default" id="h_narrative">
        <div class="panel-heading">
            <h3 class="panel-title">Narrative</h3>
        </div>
        <div class="panel-body">
            <h5>2014 / 2015 IATI Spend (US $m)</h5>
            <p>The total reported spend (disbursements and expenditure) across all activities for the given year. For <a href="https://github.com/IATI/IATI-Dashboard/blob/master/dfi_publishers.csv" target="_blank">known Development finance institutions (DFIs)</a>, these values are the sum of their commitment transactions only, as they are generally unable to publish disbursement and expenditure transactions while an activity is in progress.</p>

            <h5>2014 / 2015 Reference Spend (US $m)</h5>
            <p>The total spend reported to an external source for the given year, as collected by the IATI Technical Team. For the foreseeable future this data will be collected manually and stored in a <a href="https://docs.google.com/spreadsheets/d/1SgE6sXbzD2y8p3QzBcY4kAqkCTG1eUld5QuSvCfKVUE" target="_blank">public Google sheet</a>, including source narrative and URLs. A csv download of this sheet is periodically imported into the source code. Publishers can request updates to information in this sheet by emailing required changes to <a href="mailto:support@iatistandard.org">support@iatistandard.org</a>.</p>

            <h5>2015 Official Forecast (US $m)</h5>
            <p>The offical DAC forecast for the given year, as collected by the IATI Technical Team.</p>

            <h5>Spend Ratio (%)</h5>
            <p>The IATI Spend as a percentage of the reference spending or the offical forecast. This value is based on whichever is the greatest result from the following calculations:
                <ul>
                    <li>2014 IATI Spend / 2014 Reference Spend</li>
                    <li>2015 IATI Spend / 2015 Reference Spend</li>
                    <li>2015 IATI Spend / 2014 Reference Spend</li>
                    <li>2015 IATI Spend / 2015 Official Forecast</li>
                </ul>
            </p>
            
            <h5>Coverage (%)</h5>
            <p>As it is impossible to create an exacting methodology applied to disparate comparisons, the percentage coverage applied to the overall score uses a broader framework. The IATI reporting scores will be adjusted for the ratios of the financial flows reported using the following scale of coverage: Excellent: 80% or over (adjustment factor 100%); Good: 60 – 80% (adjustment factor 80%); Fair: 40 – 60% (adjustment factor 60%); and Poor: less than 40% (adjustment factor 40%).</p>
        </div>
    </div>


    <div class="panel panel-default" id="h_exceptions">
        <div class="panel-heading">
            <h3 class="panel-title">Exceptions</h3>
        </div>
        <div class="panel-body">
            <p>Publishers who only report as secondary publishers will not appear in this table.</p>
        </div>
    </div>


    <div class="panel panel-default" id="h_comment">
        <div class="panel-heading">
            <h3 class="panel-title">Comment</h3>
        </div>
        <div class="panel-body">
            <p>You are invited to participate in the consultation which is taking place on the <a href="http://discuss.iatistandard.org/t/indicator-coverage-methodology-consultation-space/357/1">IATI Discussion Forum</a>.</p>
        </div>
    </div>


{% endblock %}

{% block tablesorteroptions %}
{
    widgets: ['stickyHeaders'],
    textExtraction: { 8: function(node,table,cellIndex) { return $(node).attr('data-severity'); } }
}
{% endblock %}
