{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}

    <ul class="list-inline" style="padding: 1em">
        <li><a href="#h_table">Table</a></li>
        <li>|</li>
        <li><a href="#h_narrative">Narrative</a></li>
        <li>|</li>
        <li><a href="#h_exceptions">Exceptions</a></li>
        <li>|</li>
        <li><a href="#h_comment">Comment</a></li>
    </ul>

    <div class="panel panel-default" id="h_table">
        <div class="panel-heading">
            <span class="pull-right"><a href="{{url('humanitarian.csv')}}">(This table as CSV)</a></span>
            <h3 class="panel-title">Humanitarian</h3>
        </div>


        <div class="panel-body">
            <p>This table assesses the extent to which IATI publishers are reporting on humanitarian attributes.</p>

            <p>The statistics on this page do not form part of the <a href="summary_stats.html">Summary Statstics</a>.</p>

            {% include 'tablesorter_instructions.html' %}
        </div>

        <table class="table table-striped" id="main_table">
            <thead>
                <tr>
                    <th style="vertical-align:middle; border: 1px solid gray;">Publisher Name</th>
                    {% for _, column_header in humanitarian.columns %}
                    <th style="vertical-align:middle; border: 1px solid gray;">{{column_header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in humanitarian.table() %}
                <tr {% if loop.last %} style="border-bottom: 1px solid gray;"{% endif %}>
                    <td style="border-right: 1px solid gray; border-left: 1px solid gray;"><a href="publisher/{{row.publisher}}.html">{{row.publisher_title}}</a></td>
                    {% for column_slug, _ in humanitarian.columns %}
                      <td style="border-right: 1px solid gray; border-left: 1px solid gray;">
                        {%- if column_slug == 'publisher_type' -%}
                          {{row[column_slug]}}
                        {%- else -%}
                          {{row[column_slug]|int}}
                        {%- endif -%}
                      </td>
                    {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="panel panel-default" id="h_narrative">
        <div class="panel-heading">
            <h3 class="panel-title">Narrative</h3>
        </div>
        <div class="panel-body">
          <h5>Publisher</h5>
        	<p>Only publishers with humanitarian activities included.</p>

          <h5>Publisher Type</h5>
          <p>The category that this publisher self-defines as on the IATI Registry.</p>

          <h5>Number of Activities</h5>
          <p>Total number of humanitarian activities (determined by use of <code>iati-activity/@humanitarian</code> attribute or DAC 5-digit sector codes between <code>72010</code> to <code>74010</code> inclusive, or DAC 3-digit sector codes <code>720</code>, <code>730</code> or <code>740</code>).</p>

          <h5>Publishing Humanitarian?</h5>
          <p>If the number of activities is greater than 0, then this is set at 100. Otherwise, this is set at 0.</p>

          <h5>Using Humanitarian Attribute?</h5>
          <p>Use of <code>@humanitarian</code> - proportion of the number of activities.</p>

          <h5>Appeal or Emergency Details</h5>
          <p>Use of humanitarian-scope element, both <code>@type</code> and <code>@code</code> must be present - proportion of the number of activities.</p>

          <h5>Clusters</h5>
          <p>Use of <code>sector/@vocabulary="10"</code> - proportion of the number of activities.</p>

          <h5>Average</h5>
          <p>The sum of the columns 'Publishing humanitarian?', 'Using humanitarian attribute?', 'Appeal or Emergency details' and 'Clusters', divided by 4.</p>
        </div>
    </div>
{% endblock %}

{% block tablesorteroptions %}
{
    widgets: ['stickyHeaders']
}
{% endblock %}
