{% extends 'base.html' %}
{% import 'boxes.html' as boxes %}
{% block content %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Count of publishers per licences in use on the IATI Registry.</p>
        {% include 'tablesorter_instructions.html' %}
      </div>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>License Name</th>
                <th>License Id</th>
                <th>Files</th>
                <th>Publishers</th>
            </tr>
        </thead>
        <tbody>
            {% for license, files in sorted(license_count.items()) %}
            <tr>
                <td><a href="license/{{license}}.html">{{license_names[license]}}</a></td>
                <td><a href="license/{{license}}.html">{{license}}</a></td>
                <td>{{files}}</td>
                <td>{{publisher_license_count[license]}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
