{% extends 'base.html' %}
{% block content %}
    <div class="iati-card-gallery">

    {% block lhs_column %}
    <div class="iati-card">
      <p class="iati-card__title">
        About
      </p>
      <p>
        {% block about %}
        {% endblock %}
      </p>
    </div>
    {% endblock %}

    <div class="iati-card">
      <div class="iati-card__title">
        Contents
      </div>
      <p>
      <nav>
      {% for item in (top_navigation if page=='index' else navigation[navigation_reverse[page]]) %}
        <div class="iati-card">
        <p class="iati-card__title"><a href="{{ url(page_view_names[item]) }}">{{ page_titles[item] }}</a></p>
        {% if item in page_leads %}
          <p class="iati-card__subtitle">{{ page_leads[item]|safe }}</p>
        {% endif %}
        </div>
      {% endfor %}
      </nav>
      </p>
    </div>

    </div>
{% endblock content %}
