{% extends 'base.html' %}
{% import '_partials/boxes.html' as boxes with context %}
{% block content %}
    <div class="row">
      {{ boxes.box_h2('Files per version (expected)', '', 'img/aggregate/versions_expected.png', 'versions.json', 'img/aggregate/versions_expected_legend.png', description='Count of files per IATI version, over time. Expected: these are actual versions of the IATI Standard.') }}
      {{ boxes.box_h2('Files per version (other)', '', 'img/aggregate/versions_other.png', 'versions.json', 'img/aggregate/versions_other_legend.png', description='Count of files per other versions, over time. These values are not valid IATI versions.') }}
    </div>
    <div class="row">
      {{ boxes.box_h2('Publishers per version (expected)', '', 'img/aggregate/publishers_per_version_expected.png', 'publishers_per_version.json', 'img/aggregate/versions_expected_legend.png',
        description='Count of publishers per IATI version, over time. Note: If a publisher utilises two or more versions, they are counted for each.') }}
      {{ boxes.box_h2('Publishers per version (other)', '', 'img/aggregate/publishers_per_version_other.png', 'publishers_per_version.json', 'img/aggregate/versions_other_legend.png',
        description='Count of publishers per other version, over time') }}
  </div>

    {% if 'true' in current_stats.aggregated.version_mismatch %}
    <h2>Inconsistent versions</h2>
    <p>Files where the iati-activities/@version does not match iati-activity/@version</p>
    <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-panel">
      <div class="dashboard-panel-body">
        <table class="table table-striped">
          <thead>
                <td>Publisher</td>
                <td>Files</td>
          </thead>
          <tbody>
            {% for publisher in current_stats.inverted_file_publisher %}
              {% with datasets = current_stats.inverted_file_publisher[publisher].version_mismatch.get('true', {}) %}
                {% if datasets %}
                <tr><td id="files_{{ publisher }}"><a href="{{ url('dash-headlines-publisher-detail', args=[publisher]) }}">{{ publisher_name[publisher] }}</a></td><td>
                {% for dataset in datasets.keys() %}
                    <a href="http://iatiregistry.org/dataset/{{ dataset[:-4] }}">{{ dataset[:-4] }}</a>
                {% endfor %}
                </td></tr>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
    {% endif %}

    <h2>Publishers by version</h2>
    <p>(<a href="{{ stats_url }}/current/inverted-publisher/versions.json">In JSON format</a>)</p>
    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading">
            <h3 class="dashboard-panel-heading__title">Expected versions</h3>
          </div>
          <div class="dashboard-panel-body">
          <p>Listing of publishers per IATI version. Click on any publisher name for more information.</p>
          <div class="iati-card-gallery">

            {% for version, publishers in current_stats.inverted_publisher.versions.items() %}
            {% if version in expected_versions %}
            <div class="iati-card">
              <h4>
              <code class="iati-code">{{ version|replace(' ', '&nbsp;')|safe }}</code>
              </h4>
              <p class="iati-card-body">
              <table class="table table-striped">
                {% for publisher in publishers %}
                <tr>
                  <td><a href="{{ url('dash-headlines-publisher-detail', args=[publisher]) }}">{{ publisher_name[publisher] }}</a></td>
                </tr>
                {% endfor %}
              </table>
              </p>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
      </div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-panel">
          <div class="dashboard-panel-heading">
            <h3 class="dashboard-panel-heading__title">Other versions</h3>
          </div>
          <div class="dashboard-panel-body">
          <p>Listing of publishers publishing a non-recognised version number.  Click on any publisher name for more information.</p>
          <div class="iati-card-gallery">
            {% for version, publishers in current_stats.inverted_publisher.versions.items() %}
            {% if version not in expected_versions %}
            <div class="iati-card">
              <h4>
              <code class="iati-code">{{ version|replace(' ', '&nbsp;')|safe }}</code>
              </h4>
              <table class="table table-striped">
                {% for publisher in publishers %}
                <tr>
                  <td><a href="{{ url('dash-headlines-publisher-detail', args=[publisher]) }}">{{ publisher_name[publisher] }}</a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
